<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
  <div class="grid grid-pad">

  <!--<div *ngFor="let imageModel of imageModels" class="col-1-4">

      <img src="{{imageModel.image}}" />
      <div class="color-accent-main">
        <h4>{{imageModel.title}}</h4>
        <button mat-icon-button (click)="openDeleteImageDialog(imageModel.imageId)" i18n-matTooltip="Delete image | Delete image @@deleteImage" matTooltip="Delete image">
          <i class="material-icons">delete</i>
        </button>
      </div>

    </div>-->

    <ul class="mdc-image-list mdc-image-list--masonry masonry-image-list">
      <li class="mdc-image-list__item" *ngFor="let imageModel of imageModels">

          <img class="mdc-image-list__image" [src]="imageModel.image">

          <div class="mdc-image-list--with-text-protection">
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">{{imageModel.title}}</span>
              <button mat-icon-button (click)="openDeleteImageDialog(imageModel.imageId)" i18n-matTooltip="Delete image | Delete image @@deleteImage" matTooltip="Delete image">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>

      </li>
    </ul>

  </div>
</div>
