<div mat-dialog-content class="container">
  <button type="button" class="close" (click)="onCloseClick()" mat-button matTooltip="{{'FeedbackDialog.Close'| transloco}}">
    <i class="material-icons">close</i>
  </button>

  <h1 mat-dialog-title>{{message.fromName}} - {{message.fromId}}</h1>
  <div mat-dialog-content>
    {{message.message}}
  </div>

</div>

<button type="button" class="fabbuttons" (click)="loadDetailsClick()" mat-button matTooltip="{{'FeedbackDialog.ProfileDetails'| transloco}}">
  <i class="material-icons">person</i>
</button>

<button *ngIf="!message.doNotDelete" type="button" class="fabbuttons" (click)="doNotDelete()" mat-button matTooltip="{{'ProfileChatSearchComponent.DoNotDelete'| transloco}}">
  <i class="material-icons">delete_forever</i>
</button>

<button *ngIf="message.doNotDelete" type="button" class="fabbuttons" (click)="allowDelete()" mat-button matTooltip="{{'ProfileChatSearchComponent.AllowDelete'| transloco}}">
  <i class="material-icons">delete</i>
</button>
