<div mat-dialog-content class="container">
  <button mat-flat-button class="close" (click)="onCloseClick()" attr.aria-label="{{'FeedbackDialog.Close'| transloco}}" matTooltip="{{'FeedbackDialog.Close'| transloco}}">
    <span class="material-icons">close</span>
  </button>

  <h1 mat-dialog-title>{{message.fromName}} -> {{message.fromId}}</h1>
  <div mat-dialog-content>
    {{message.message}}
  </div>

</div>

<button mat-flat-button color="accent" (click)="loadDetailsClick()" attr.aria-label="{{'FeedbackDialog.ProfileDetails'| transloco}}" matTooltip="{{'FeedbackDialog.ProfileDetails'| transloco}}">
  <span class="material-icons icon-white-square">person</span>
</button>

<button mat-flat-button color="accent" *ngIf="!message.doNotDelete" (click)="doNotDelete()" attr.aria-label="{{'ProfileChatSearchComponent.DoNotDelete'| transloco}}" matTooltip="{{'ProfileChatSearchComponent.DoNotDelete'| transloco}}">
  <span class="material-icons icon-white-square">delete_forever</span>
</button>

<button mat-flat-button color="accent" *ngIf="message.doNotDelete" (click)="allowDelete()" attr.aria-label="{{'ProfileChatSearchComponent.AllowDelete'| transloco}}" matTooltip="{{'ProfileChatSearchComponent.AllowDelete'| transloco}}">
  <span class="material-icons icon-white-square">delete</span>
</button>
