# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.angular

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
*.js
*.map
*.sqlite
src/app/.vs/VSWorkspaceState.json
src/app/.vs/app/config/applicationhost.config
src/app/.vs/app/v16/.suo

src/.vs/src/v16/.suo

src/.vs/

.vs/BluePenguin/config/applicationhost.config

.vs/BluePenguin/FileContentIndex/35370623-d478-4ed6-a1d1-e650c6ae96b5.vsidx

.vs/BluePenguin/FileContentIndex/5736cbb2-d0c6-46b9-b825-07868df391d6.vsidx

.vs/BluePenguin/FileContentIndex/read.lock

.vs/BluePenguin/v17/.wsuo

.vs/VSWorkspaceState.json
