<div class="profile-list-grid details">
  <div *ngFor="let imageModel of imageModels;let indexOfelement=index">

    <ad-tile *ngIf="imageModel.imageId==='ad'"></ad-tile>

    <img *ngIf="imageModel.imageId!=='ad'" ngSrc="{{imageModel.image}}" alt="{{imageModel.title}}" fill priority sizes="100vw" decoding="async" (click)="openImageDialog(indexOfelement)">
    <div *ngIf="imageModel.imageId!=='ad'" class="imageOverlay">
      <span class="imageLabel">{{imageModel.title}}</span>
      <button mat-icon-button (click)="openDeleteImageDialog(imageModel.imageId)" attr.aria-label="{{'CurrentUserImagesComponent.DeleteImage'| transloco}}" matTooltip="{{'CurrentUserImagesComponent.DeleteImage'| transloco}}">
        <span class="material-icons icon-white">delete</span>
      </button>
    </div>

  </div>
</div>
