<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div class="menu-buttons">
    <button mat-flat-button color="accent" (click)="openCreateGroupDialog()" attr.aria-label="{{'CreateGroup'| transloco}}" matTooltip="{{'CreateGroup'| transloco}}">
      <span class="material-icons icon-white-square">group_add</span>
    </button>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="groupForm">

    <div class="form-container">
      <mat-form-field>
        <input matInput maxlength="50" placeholder="{{'NameOrDescription'| transloco}}" formControlName="searchfield">
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" attr.aria-label="{{'Search'| transloco}}" matTooltip="{{'Search'| transloco}}">
        <span class="material-icons">search</span>
      </button>

    </div>
  </form>

  <div *ngIf="noResult" class="noResults">
    <p>
      {{'NoResultsText'| transloco}}
    </p>
  </div>

  <div class="profile-list-grid"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       [scrollWindow]="true"
       (scrolled)="onScrollDown()">
    <div *ngFor="let group of currentGroups; let i = index" [ngClass]="imageSize[i]">

      <ad-tile *ngIf="group==='ad'"></ad-tile>
      <div *ngIf="group!=='ad'" class="groupTiles" (click)="openGroupDetailsDialog(group)">
        <span class="imageLabel">{{group.name}}</span>
        <span class="material-icons icon-orange-right" *ngIf="joinedGroup(group?.groupId)" attr.aria-label="{{'GroupJoined'| transloco}}" matTooltip="{{'GroupJoined'| transloco}}">groups</span>
        <span class="material-icons icon-white-right" *ngIf="!joinedGroup(group?.groupId)" attr.aria-label="{{'GroupNotJoined'| transloco}}" matTooltip="{{'GroupNotJoined'| transloco}}">groups</span>
      </div>
    </div>
  </div>

</div>

