<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div *ngIf="noProfiles" class="noResults">
    <p i18n="NoResultsText | No results text @@noResultsText">
      Sorry no results :(
    </p>
  </div>

  <div *ngIf="dataSource" class="mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="profileId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile ProfileId | A ProfileId for the Profile @@profileAge"> ProfileId </th>
        <td mat-cell *matCellDef="let element"> {{element?.profileId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile Name | A Name for the Profile @@profileName"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>

      <!-- CreatedOn Column -->
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile CreatedOn | A CreatedOn for the Profile @@profileCreatedOn"> CreatedOn </th>
        <td mat-cell *matCellDef="let element"> {{element?.createdOn | date:'medium' }} </td>
      </ng-container>

      <!-- UpdatedOn Column -->
      <ng-container matColumnDef="updatedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile UpdatedOn | A UpdatedOn for the Profile @@profileUpdatedOn"> UpdatedOn </th>
        <td mat-cell *matCellDef="let element"> {{element?.updatedOn | date:'medium' }} </td>
      </ng-container>

      <!-- LastActive Column -->
      <ng-container matColumnDef="lastActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile LastActive | A Last Active for the Profile @@profileLastActive"> LastActive </th>
        <td mat-cell *matCellDef="let element"> {{element?.lastActive | date:'medium' }} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile Age | A Age for the Profile @@profileAge"> Age </th>
        <td mat-cell *matCellDef="let element"> {{element?.age}} </td>
      </ng-container>

      <!-- Height Column -->
      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Profile Height | A Height for the Profile @@profileHeight"> Height </th>
        <td mat-cell *matCellDef="let element"> {{element?.height}} </td>
      </ng-container>

      <!-- Visited or bookmarks by other profile Column -->
      <ng-container matColumnDef="visit/book">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="visit/book | This profile has visited or bookmarked you @@visit/book"> Visit/Bookmarked </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons icon-orange" *ngIf="!currentUserSubject?.isBookmarked[element?.profileId] && currentUserSubject?.visited[element?.profileId]" i18n-matTooltip="Visited | Visited @@Visited" matTooltip="This profile has visited your profile on {{currentUserSubject.visited[element?.profileId] | date:'medium'}}">adjust</i>
          <i class="material-icons icon-orange" *ngIf="currentUserSubject?.isBookmarked[element?.profileId]" i18n-matTooltip="IsBookmarked | IsBookmarked @@IsBookmarked" matTooltip="This profile has bookmarked your profile">bookmark_added</i>
        </td>
      </ng-container>

      <!-- Bookmarked by currentUser Column -->
      <ng-container matColumnDef="favorites">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="favorites | Has this profile been added to favorites @@favorites"> Favorites </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons icon-white" *ngIf="bookmarked(element?.profileId)" i18n-matTooltip="Added to favorites | Added to favorites @@addedToFavorites" matTooltip="Added to favorites">bookmark_border</i>
          <i class="material-icons icon-white" *ngIf="!bookmarked(element?.profileId)" i18n-matTooltip="Not added to favorites | Not added to favorites @@notAddedToFavorits" matTooltip="Not added to favorites">bookmark</i>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <!--<ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="element-diagram" routerLink="/details/{{element?.profileId}}">-->
      <!--Link på billed og tekst?-->
      <!--<img *ngIf="element?.images[0] != null" class="images" src="{{element?.images[0].image}}" />-->
      <!--<div class="element-position"> {{element?.profileId}} </div>-->
      <!--</div>
            <div class="element-description">
              <div class="element-name"> {{element?.name}} </div>
              <div><label>CreatedOn: </label>{{element?.createdOn | date:'medium'}}</div>
              <div><label>LastActive: </label>{{element?.lastActive | date:'medium'}}</div>
              <div><label>BodyType: </label>{{element?.body}}</div>
              <div><label>SmokingHabits: </label>{{element?.smokingHabits}}</div>
            </div>
          </div>
        </td>
      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      er
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="openImageDialog(element)">

        !-
      </tr>



      <!--<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>-->
    </table>


    <button type="button" *ngIf="viewFilterType === 'BookmarkedProfiles'" (click)="removeFavoritProfiles()" class="mat-flat-button" mat-flat-button color="accent" i18n-matTooltip="Remove from favorites | Remove from favorites @@removeFromFavorits" matTooltip="Remove from favorites">
      <i class="material-icons">bookmark_border</i>
    </button>
    <button type="button" *ngIf="viewFilterType != 'BookmarkedProfiles'" (click)="addFavoritProfiles()" class="mat-flat-button" mat-flat-button color="accent" i18n-matTooltip="Add to favorites | Add to favorites @@addToFavorits" matTooltip="Add to favorites">
      <i class="material-icons">bookmark</i>
    </button>

    <button type="button" *ngIf="currentUserSubject != null && currentUserSubject.admin" (click)="openDeleteProfilesDialog()" mat-flat-button color="accent" i18n-matTooltip="Delete profile | Delete profile @@deleteProfile" matTooltip="Delete profile(s)">
      <i class="material-icons">delete</i>
    </button>

    <mat-paginator (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

</div>

