<div *ngIf="profile">
  <h2>{{profile.name}} Update your details</h2>

  <form (ngSubmit)="onSubmit(profileForm)" [formGroup]="profileForm">

    <div style="margin-bottom: 1em">
      <button type="submit" (click)="onSubmit()"
              [disabled]="profileForm.pristine" class="btn btn-success">
        Save
      </button> &nbsp;
      <button type="button" (click)="revert()"
              [disabled]="profileForm.pristine" class="btn btn-danger">
        Revert
      </button>
    </div>

    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="genderType" [(value)]="profile.genderType">
          <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
            {{ genderType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

  <p>Form value: {{ profileForm.value | json }}</p>

</div>
