<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <button type="button" class="matButtonToggle" (click)="toggleDisplay()" mat-flat-button color="accent" matTooltip={{matButtonToggleText}}>
    <i class="material-icons">{{matButtonToggleIcon}}</i>
  </button>

  <div *ngIf="isMatButtonToggled"><currentUser-images [smallImageModels]="smallImageModels" [imageModels]="imageModels" (refreshCurrentUserImages)="refreshCurrentUserImages()"></currentUser-images></div>
  <div *ngIf="!isMatButtonToggled"><image-upload></image-upload></div>

</div>
