<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <p *ngIf="!morePhotosAllowed" i18n="AboutUsText | AboutPageText @@aboutUsText">
    You have reached the maximum {{maxPhotos}} number off profile photos allowed.
  </p>

  <button *ngIf="morePhotosAllowed" type="button" class="matButtonToggle" (click)="toggleDisplay()" mat-flat-button color="accent" matTooltip={{matButtonToggleText}}>
    <i class="material-icons">{{matButtonToggleIcon}}</i>
  </button>

  <div *ngIf="isMatButtonToggled"><currentUser-images [imageModels]="imageModels" (refreshCurrentUserImages)="refreshCurrentUserImages()"></currentUser-images></div>
  <div *ngIf="!isMatButtonToggled"><image-upload (refreshCurrentUserImages)="refreshCurrentUserImages()"></image-upload></div>

</div>
