<div class="grid grid-pad">
  <div *ngIf="profile">

    <button mat-flat-button color="accent" *ngIf="bookmarked()" (click)="removeBookmarkedProfiles()" matTooltip="{{'RemoveFromBookmarked'| transloco}}">
      <span class="material-icons icon-white-square">bookmark</span>
    </button>
    <button mat-flat-button color="accent" *ngIf="!bookmarked()" (click)="addBookmarkedProfiles()" matTooltip="{{'AddToBookmarked'| transloco}}">
      <span class="material-icons icon-white-square">bookmark_border</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="liked()" (click)="removeLike()" matTooltip="{{profile.likes?.length}} {{'Likes'| transloco}}">
      <span class="material-icons icon-white-square">favorite</span>
    </button>
    <button mat-flat-button color="accent" *ngIf="!liked()" (click)="addLike()" matTooltip="{{profile.likes?.length}} {{'Likes'| transloco}}">
      <span class="material-icons icon-white-square">favorite_border</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="!currentUserSubject.admin" (click)="blockChatMembers()" matTooltip="{{'ChatMembersListviewComponent.BlockChatMember'| transloco}}">
      <span class="material-icons icon-white-square">security</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="!currentUserSubject.admin" (click)="addComplainToProfile()" matTooltip="{{'ComplainAboutProfile'| transloco}}">
      <span class="material-icons icon-white-square">report</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="currentUserSubject != null && currentUserSubject.admin && !profile.admin" (click)="setProfileAsAdmin()" matTooltip="{{'ProfileDetailsComponent.SetProfileAsAdmin'| transloco}}">
      <span class="material-icons icon-white-square">admin_panel_settings</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="currentUserSubject != null && currentUserSubject.admin && profile.admin" (click)="removeProfileAsAdmin()" matTooltip="{{'ProfileDetailsComponent.RemoveProfileAsAdmin'| transloco}}">
      <span class="material-icons icon-white-square">verified_user</span>
    </button>

    <button mat-flat-button color="accent" *ngIf="currentUserSubject != null && currentUserSubject.admin" (click)="openDeleteProfilesDialog()" matTooltip="{{'DeleteProfile'| transloco}}">
      <span class="material-icons icon-white-square">delete</span>
    </button>

    <h3>{{profile.name}}</h3>

    <div>
      <label>{{'CreatedOn'| transloco}}</label>{{profile.createdOn | date:'medium'}}
    </div>

    <div>
      <label>{{'UpdatedOn'| transloco}}</label>{{profile.updatedOn | date:'medium'}}
    </div>

    <div>
      <label>{{'LastActive'| transloco}}</label>{{profile.lastActive | date:'medium'}}
    </div>

    <div>
      <label>{{'Age'| transloco}}</label>{{profile.age}}
    </div>

    <div *ngIf="profile.height > 0">
      <label>{{'Height'| transloco}}</label>{{profile.height}}
    </div>

    <div *ngIf="profile.description != null">
      <label>{{'Description'| transloco}}</label>{{profile.description}}
    </div>

    <div *ngIf="profile.tags.length > 0">
      <label>{{'Tags'| transloco}}</label><mat-chip-option *ngFor="let tag of profile.tags">{{tag}}</mat-chip-option>
    </div>

    <div *ngIf="profile.body != 'NotChosen'">
      <label>{{'BodyType'| transloco}}</label>{{profile.body}}
    </div>

    <div *ngIf="profile.smokingHabits != 'NotChosen'">
      <label>{{'SmokingHabitsType'| transloco}}</label>{{profile.smokingHabits}}
    </div>

    <div *ngIf="profile.hasChildren != 'NotChosen'">
      <label>{{'HasChildrenType'| transloco}}</label>{{profile.hasChildren}}
    </div>

    <div *ngIf="profile.wantChildren != 'NotChosen'">
      <label>{{'WantChildrenType'| transloco}}</label>{{profile.wantChildren}}
    </div>

    <div *ngIf="profile.hasPets != 'NotChosen'">
      <label>{{'HasPetsType'| transloco}}</label>{{profile.hasPets}}
    </div>

    <div *ngIf="profile.livesIn != 'NotChosen'">
      <label>{{'LivesInType'| transloco}}</label>{{profile.livesIn}}
    </div>

    <div *ngIf="profile.education != 'NotChosen'">
      <label>{{'EducationType'| transloco}}</label>{{profile.education}}
    </div>

    <div *ngIf="profile.educationStatus != 'NotChosen'">
      <label>{{'EducationStatusType'| transloco}}</label>{{profile.educationStatus}}
    </div>

    <div *ngIf="profile.employmentStatus != 'NotChosen'">
      <label>{{'EmploymentStatusType'| transloco}}</label>{{profile.employmentStatus}}
    </div>

    <div *ngIf="profile.sportsActivity != 'NotChosen'">
      <label>{{'SportsActivityType'| transloco}}</label>{{profile.sportsActivity}}
    </div>

    <div *ngIf="profile.eatingHabits != 'NotChosen'">
      <label>{{'EatingHabitsType'| transloco}}</label>{{profile.eatingHabits}}
    </div>

    <div *ngIf="profile.clotheStyle != 'NotChosen'">
      <label>{{'ClotheStyleType'| transloco}}</label>{{profile.clotheStyle}}
    </div>

    <div *ngIf="profile.bodyArt != 'NotChosen'">
      <label>{{'BodyArtType'| transloco}}</label>{{profile.bodyArt}}
    </div>

    <div *ngIf="!profile.contactable">
      <span class="material-icons icon-orange-right" matTooltip="{{'NotContactable'| transloco}}">person_off</span>
    </div>

  </div>
