<div class="grid grid-pad">
  <div *ngIf="profile">
    <h2>{{profile.name}}</h2>

    <div>
      <label>{{'ProfileDetailsComponent.CreatedOn'| transloco}}</label>{{profile.createdOn | date:'medium'}}
    </div>

    <div>
      <label>{{'ProfileDetailsComponent.UpdatedOn'| transloco}}</label>{{profile.updatedOn | date:'medium'}}
    </div>

    <div>
      <label>{{'ProfileDetailsComponent.LastActive'| transloco}}</label>{{profile.lastActive | date:'medium'}}
    </div>

    <div>
      <label>{{'ProfileDetailsComponent.Age'| transloco}}</label>{{profile.age}}
    </div>

    <div *ngIf="profile.height > 0">
      <label>{{'ProfileDetailsComponent.Height'| transloco}}</label>{{profile.height}}
    </div>

    <div *ngIf="profile.description != null">
      <label>{{'ProfileDetailsComponent.Description'| transloco}}</label>{{profile.description}}
    </div>

    <div *ngIf="profile.tags.length > 0">
      <label>{{'ProfileDetailsComponent.Tags'| transloco}}</label><mat-chip *ngFor="let tag of profile.tags">{{tag}}</mat-chip>
    </div>

    <div *ngIf="profile.body != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.BodyType'| transloco}}</label>{{profile.body}}
    </div>

    <div *ngIf="profile.smokingHabits != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.SmokingHabitsType'| transloco}}</label>{{profile.smokingHabits}}
    </div>

    <div *ngIf="profile.hasChildren != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.HasChildrenType'| transloco}}</label>{{profile.hasChildren}}
    </div>

    <div *ngIf="profile.wantChildren != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.WantChildrenType'| transloco}}</label>{{profile.wantChildren}}
    </div>

    <div *ngIf="profile.hasPets != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.HasPetsType'| transloco}}</label>{{profile.hasPets}}
    </div>

    <div *ngIf="profile.livesIn != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.LivesInType'| transloco}}</label>{{profile.livesIn}}
    </div>

    <div *ngIf="profile.education != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.EducationType'| transloco}}</label>{{profile.education}}
    </div>

    <div *ngIf="profile.educationStatus != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.EducationStatusType'| transloco}}</label>{{profile.educationStatus}}
    </div>

    <div *ngIf="profile.employmentStatus != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.EmploymentStatusType'| transloco}}</label>{{profile.employmentStatus}}
    </div>

    <div *ngIf="profile.sportsActivity != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.SportsActivityType'| transloco}}</label>{{profile.sportsActivity}}
    </div>

    <div *ngIf="profile.eatingHabits != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.EatingHabitsType'| transloco}}</label>{{profile.eatingHabits}}
    </div>

    <div *ngIf="profile.clotheStyle != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.ClotheStyleType'| transloco}}</label>{{profile.clotheStyle}}
    </div>

    <div *ngIf="profile.bodyArt != 'NotChosen'">
      <label>{{'ProfileDetailsComponent.BodyArtType'| transloco}}</label>{{profile.bodyArt}}
    </div>

    <div *ngIf="!profile.contactable">
      <i class="material-icons icon-orange-right" matTooltip="{{'ProfileDetailsComponent.NotContactable'| transloco}}">person_off</i>
    </div>

    <button type="button" *ngIf="liked()" (click)="removeLike()" mat-icon mat-flat-button color="accent" matTooltip="{{profile.likes?.length}} {{'ProfileDetailsComponent.Likes'| transloco}}">
      <i class="material-icons">favorite</i>
    </button>
    <button type="button" *ngIf="!liked()" (click)="addLike()" mat-icon mat-flat-button color="accent" matTooltip="{{profile.likes?.length}} {{'ProfileDetailsComponent.Likes'| transloco}}">
      <i class="material-icons">favorite_border</i>
    </button>

    <button type="button" *ngIf="bookmarked()" (click)="removeBookmarkedProfiles()" mat-icon mat-flat-button color="accent" matTooltip="{{'ProfileDetailsComponent.RemoveFromBookmarked'| transloco}}">
      <i class="material-icons">bookmark</i>
    </button>
    <button type="button" *ngIf="!bookmarked()" (click)="addBookmarkedProfiles()" mat-icon mat-flat-button color="accent" matTooltip="{{'ProfileDetailsComponent.AddToBookmarked'| transloco}}">
      <i class="material-icons">bookmark_border</i>
    </button>

    <button type="button" *ngIf="currentUserSubject != null && currentUserSubject.admin && !profile.admin" (click)="setProfileAsAdmin()" mat-icon mat-flat-button color="accent" matTooltip="{{'ProfileDetailsComponent.SetProfileAsAdmin'| transloco}}">
      <i class="material-icons">admin_panel_settings</i>
    </button>

    <button type="button" *ngIf="currentUserSubject != null && currentUserSubject.admin && profile.admin" (click)="removeProfileAsAdmin()" mat-icon mat-flat-button color="accent" matTooltip="{{'ProfileDetailsComponent.RemoveProfileAsAdmin'| transloco}}">
      <i class="material-icons">verified_user</i>
    </button>

    <button type="button" *ngIf="currentUserSubject != null && currentUserSubject.admin" (click)="openDeleteProfilesDialog()" mat-icon mat-flat-button color="accent"  matTooltip="{{'ProfileDetailsComponent.DeleteProfile'| transloco}}">
      <i class="material-icons">delete</i>
    </button>

  </div>
