<mat-card class="image-card">
  <mat-card-header>
    <div mat-card-avatar> 
        <button mat-icon-button *ngIf="showingBookmarkedProfilesList" (click)="removeFavoritProfiles(profile.profileId)" i18n-matTooltip="Remove from favorites | Remove from favorites @@removeFromFavorites" matTooltip="Remove from favorites">
          <i class="material-icons">bookmark_border</i>
        </button>
        <button mat-icon-button *ngIf="!showingBookmarkedProfilesList" (click)="addFavoritProfiles(profile.profileId)" i18n-matTooltip="Add to favorites | Add to favorites @@addToFavorites" matTooltip="Add to favorites">
          <i class="material-icons">bookmark</i>
        </button>
    </div>
  </mat-card-header>

  <a routerLink="/detail/{{profile.profileId}}">
    <img mat-card-image src="{{profile.images[0].image}}" alt="Profile image">
  </a>

  <mat-card-content class="color-accent-main">{{profile.name}}</mat-card-content>
  <!--<mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>-->

  <mat-card-actions>
    <!--<button mat-icon-button (click)="openDeleteImageDialog({{profile.images[0].image}})" i18n-matTooltip="Delete image | Delete image @@deleteImage" matTooltip="Delete image">
      <i class="material-icons">delete</i>
    </button>-->
  </mat-card-actions>
</mat-card>
