<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
  <form [formGroup]="profileForm">

    <div style="margin-bottom: 1em">
      <button type="submit" (click)="onSubmit()"
              [disabled]="profileForm.pristine" class="btn btn-success">
        Search
      </button> &nbsp;
      <button type="button" (click)="revert()"
              [disabled]="profileForm.pristine" class="btn btn-danger">
        Revert
      </button> &nbsp;
      <button type="button" (click)="saveSearch()"
              [disabled]="profileForm.pristine" class="btn btn-danger">
        Save search
      </button> &nbsp;
      <button type="button" (click)="loadSearch()" class="btn btn-danger">
        Load search
      </button>
    </div>

    <div class="form-container">

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Age" formControlName="age" multiple>
          <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Height in cm" formControlName="height" multiple>
          <mat-option *ngFor="let height of heightList" [value]="height">{{height}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Weight in kg" formControlName="weight" multiple>
          <mat-option *ngFor="let weight of weightList" [value]="weight">{{weight}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender" [(value)]="filter.gender">
          <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
            {{ genderType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Body type" formControlName="bodyType" [(value)]="filter.body">
          <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
            {{ bodyType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="SmokingHabits type" formControlName="smokingHabitsType" [(value)]="filter.smokingHabits">
          <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes" [value]="smokingHabitsType">
            {{ smokingHabitsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="HasChildren type" formControlName="hasChildrenType" [(value)]="filter.hasChildren">
          <mat-option *ngFor="let hasChildrenType of hasChildrenTypes" [value]="hasChildrenType">
            {{ hasChildrenType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="WantChildren type" formControlName="wantChildrenType" [(value)]="filter.wantChildren">
          <mat-option *ngFor="let wantChildrenType of wantChildrenTypes" [value]="wantChildrenType">
            {{ wantChildrenType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="HasPets type" formControlName="hasPetsType" [(value)]="filter.hasPets">
          <mat-option *ngFor="let hasPetsType of hasPetsTypes" [value]="hasPetsType">
            {{ hasPetsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Location type" formControlName="locationType" [(value)]="filter.livesIn">
          <mat-option *ngFor="let locationType of locationTypes" [value]="locationType">
            {{ locationType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Education type" formControlName="educationType" [(value)]="filter.education">
          <mat-option *ngFor="let educationType of educationTypes" [value]="educationType">
            {{ educationType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="EducationStatus type" formControlName="educationStatusType" [(value)]="filter.educationStatus">
          <mat-option *ngFor="let educationStatusType of educationStatusTypes" [value]="educationStatusType">
            {{ educationStatusType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="EducationLevel type" formControlName="educationLevelType" [(value)]="filter.educationLevel">
          <mat-option *ngFor="let educationLevelType of educationLevelTypes" [value]="educationLevelType">
            {{ educationLevelType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="EmploymentStatus type" formControlName="employmentStatusType" [(value)]="filter.employmentStatus">
          <mat-option *ngFor="let employmentStatusType of employmentStatusTypes" [value]="employmentStatusType">
            {{ employmentStatusType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="SportsActivity type" formControlName="sportsActivityType" [(value)]="filter.sportsActivity">
          <mat-option *ngFor="let sportsActivityType of sportsActivityTypes" [value]="sportsActivityType">
            {{ sportsActivityType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="EatingHabits type" formControlName="eatingHabitsType" [(value)]="filter.eatingHabits">
          <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes" [value]="eatingHabitsType">
            {{ eatingHabitsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="ClotheStyle type" formControlName="clotheStyleType" [(value)]="filter.clotheStyle">
          <mat-option *ngFor="let clotheStyleType of clotheStyleTypes" [value]="clotheStyleType">
            {{ clotheStyleType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="BodyArt type" formControlName="bodyArtType" [(value)]="filter.bodyArt">
          <mat-option *ngFor="let bodyArtType of bodyArtTypes" [value]="bodyArtType">
            {{ bodyArtType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>

  <div *ngIf="searchResultProfiles">
    <app-profile-listview [profiles]="searchResultProfiles"></app-profile-listview>
  </div>

</div>
