<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
  <form [formGroup]="profileForm">

    <div style="margin-bottom: 1em">
      <button type="submit" (click)="onSubmit()"
              [disabled]="profileForm.pristine" class="btn btn-success">
        Search
      </button> &nbsp;
      <button type="button" (click)="revert()"
              [disabled]="profileForm.pristine" class="btn btn-danger">
        Revert
      </button> &nbsp;
      <button type="button" (click)="saveSearch()"
              [disabled]="profileForm.pristine" class="btn btn-danger">
        Save search
      </button> &nbsp;
      <button type="button" (click)="loadSearch()" class="btn btn-danger">
        Load search
      </button>
    </div>

    <div class="form-container">

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Age" formControlName="age" multiple>
          <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Height in cm" formControlName="height" multiple>
          <mat-option *ngFor="let height of heightList" [value]="height">{{height}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Weight in kg" formControlName="weight" multiple>
          <mat-option *ngFor="let weight of weightList" [value]="weight">{{weight}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender" [(value)]="filter.gender">
          <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
            {{ genderType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Body type" formControlName="body" [(value)]="filter.body">
          <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
            {{ bodyType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

  <div *ngIf="searchResultProfiles">
    <app-profile-listview [profiles]="searchResultProfiles"></app-profile-listview>
  </div>

</div>
