<div mat-dialog-content class="container">
  <button mat-flat-button class="close" (click)="onCloseClick()" matTooltip="{{'FeedbackDialog.Close'| transloco}}">
    <span class="material-icons">close</span>
  </button>

  <h1 mat-dialog-title>{{feedback.fromName}}</h1>

  <div *ngIf="feedback.fromProfileId != null">
    <label>{{'FeedbackAdminComponent.FromProfileId'| transloco}}</label>
    <p mat-dialog-title>{{feedback.fromProfileId}}</p>
  </div>

  <div *ngIf="feedback.dateSent != null">
    <label>{{'FeedbackAdminComponent.DateSent'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.dateSent | translocoDate: { dateStyle: 'medium', timeStyle: 'medium'} }}</p>
  </div>

  <div *ngIf="feedback.feedbackType != null">
    <label>{{'FeedbackAdminComponent.FeedbackType'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.feedbackType}}</p>
  </div>

  <div *ngIf="feedback.message != null">
    <label>{{'FeedbackAdminComponent.Message'| transloco}}</label>
    <div mat-dialog-content>
      {{feedback.message}}
    </div>
  </div>

  <div *ngIf="feedback.adminName != null">
    <label>{{'FeedbackAdminComponent.AdminName'| transloco}}</label>
    <p mat-dialog-title>{{feedback.adminName}}</p>
  </div>

  <div *ngIf="feedback.adminProfileId != null">
    <label>{{'FeedbackAdminComponent.AdminProfileId'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.adminProfileId}}</p>
  </div>

  <div *ngIf="feedback.dateSeen != null">
    <label>{{'FeedbackAdminComponent.DateSeen'| transloco}}</label>
    <h2 mat-dialog-title>{{feedback?.dateSeen | translocoDate: { dateStyle: 'medium', timeStyle: 'medium'} }}</h2>
  </div>

  <div *ngIf="feedback.countrycode != null">
    <label>{{'FeedbackAdminComponent.Countrycode'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.countrycode}}</p>
  </div>

  <div *ngIf="feedback.languagecode != null">
    <label>{{'FeedbackAdminComponent.Languagecode'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.languagecode}}</p>
  </div>

  <div *ngIf="feedback.open != null">
    <label>{{'FeedbackAdminComponent.FeedbackStatus'| transloco}}</label>
    <span class="material-icons icon-orange" *ngIf="feedback?.open" matTooltip="{{'FeedbackAdminComponent.Open'| transloco}}">circle</span>
    <span class="material-icons icon-white" *ngIf="!feedback?.open" matTooltip="{{'FeedbackAdminComponent.Closed'| transloco}}">check_circle</span>
  </div>

  <div *ngIf="feedback.feedbackId != null">
    <label>{{'FeedbackAdminComponent.FeedbackId'| transloco}}</label>
    <p mat-dialog-title>{{feedback?.feedbackId}}</p>
  </div>

</div>

<button mat-flat-button color="accent" (click)="loadDetailsClick()" matTooltip="{{'FeedbackDialog.ProfileDetails'| transloco}}">
  <span class="material-icons icon-white-square">person</span>
</button>

<button mat-flat-button color="accent" *ngIf="feedback.open" (click)="closeFeedbacks()" matTooltip="{{'FeedbackAdminComponent.ToggleStatus'| transloco}}">
  <span class="material-icons icon-white-square">check_circle</span>
</button>

<button mat-flat-button color="accent" *ngIf="!feedback.open" (click)="openFeedbacks()" matTooltip="{{'FeedbackAdminComponent.ToggleStatus'| transloco}}">
  <span class="material-icons icon-white-square">circle</span>
</button>
