<div mat-dialog-content class="container">
  <button type="button" class="close" (click)="onCloseClick()" mat-button matTooltip="{{'FeedbackDialog.Close'| transloco}}">
    <i class="material-icons">close</i>
  </button>

  <h1 mat-dialog-title>{{'FeedbackDialog.FromName'| transloco}}</h1>
  <div mat-dialog-content>
    {{'FeedbackDialog.Message'| transloco}}
  </div>

</div>

<button type="button" class="fabbuttons" (click)="loadDetailsClick()" mat-button matTooltip="{{'FeedbackDialog.ProfileDetails'| transloco}}">
  <i class="material-icons">person</i>
</button>
