<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="{{'ProfileDetailsBoardComponent.ProfileDetails'| transloco}}"> <profile-details [profile]="profile"></profile-details> </mat-tab>
    <mat-tab label="{{'ProfileDetailsBoardComponent.ProfileImages'| transloco}}"> <profile-images [profile]="profile"></profile-images> </mat-tab>
    <mat-tab label="Connections"> <profile-images [profile]="profile"></profile-images> </mat-tab>
    <mat-tab label="Conversations"> <profile-images [profile]="profile"></profile-images> </mat-tab>
  </mat-tab-group>

</div>
