<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <button *ngIf="isChatSearch" type="submit" (click)="onSubmit()" class="mat-app-flat-button" mat-flat-button color="accent" matTooltip="{{'Search'| transloco}}">
    <i class="material-icons">search</i>
  </button>

  <button *ngIf="isChatSearch" type="button" (click)="reset()"
          class="mat-search-flat-button" mat-flat-button color="accent" matTooltip="{{'Reset'| transloco}}">
    <i class="material-icons">undo</i>
  </button>

  <mat-tab-group [(selectedIndex)]="tabIndex">
    <mat-tab label="{{'ProfileDetailsBoardComponent.ProfileDetails'| transloco}}"> <profile-details [profile]="profile"></profile-details> </mat-tab>
    <mat-tab label="{{'ProfileDetailsBoardComponent.ProfileImages'| transloco}}"> <profile-images [profile]="profile"></profile-images> </mat-tab>
    <mat-tab *ngIf="currentUserSubject.admin" label="{{'ProfileDetailsBoardComponent.Conversations'| transloco}}"> <profile-chat-listview (loadProfileDetails)="loadDetails($event)" (chatSearch)="chatSearch($event)" [profile]="profile"></profile-chat-listview> </mat-tab>
  </mat-tab-group>

</div>
