<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <button mat-flat-button color="accent" *ngIf="isChatSearch" type="submit" (click)="onSubmit()" attr.aria-label="{{'Search'| transloco}}" matTooltip="{{'Search'| transloco}}">
    <span class="material-icons icon-white-square">search</span>
  </button>

  <button mat-flat-button color="accent" *ngIf="isChatSearch"(click)="reset()" attr.aria-label="{{'Reset'| transloco}}" matTooltip="{{'Reset'| transloco}}">
    <span class="material-icons icon-white-square">undo</span>
  </button>

  <mat-tab-group [(selectedIndex)]="tabIndex">
    <mat-tab label="{{'ProfileDetails'| transloco}}"> <profile-details [profile]="profile"></profile-details> </mat-tab>
    <mat-tab label="{{'ProfileImages'| transloco}}"> <profile-images [profile]="profile"></profile-images> </mat-tab>
    <mat-tab *ngIf="currentUserSubject.admin" label="{{'Conversations'| transloco}}"> <profile-chat-listview (loadProfileDetails)="loadDetails($event)" (chatSearch)="chatSearch($event)" [profile]="profile"></profile-chat-listview> </mat-tab>
  </mat-tab-group>

</div>
