<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="uploadingPhoto">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <form [formGroup]="uploadImageForm">

    <button mat-flat-button color="accent" (click)="fileInput.click()" attr.aria-label="{{'ImageUploadComponent.ChooseFile'| transloco}}" matTooltip="{{'ImageUploadComponent.ChooseFile'| transloco}}">
      <span class="material-icons icon-white-square">folder_open</span>
    </button>
    <input type="file" (change)="fileChangeEvent($event)" #fileInput hidden>

    <mat-form-field *ngIf="showCropper" style="margin-left: 10px">
      <input matInput placeholder="{{ titlePlaceholder }}" formControlName="title" (ngModelChange)="onChange()">
    </mat-form-field>

    <div style="margin-bottom: 1em">
      <button type="submit" mat-flat-button color="accent" *ngIf="showCropper" (click)="onSubmit()" attr.aria-label="{{'ImageUploadComponent.Upload'| transloco}}" matTooltip="{{'ImageUploadComponent.Upload'| transloco}}">
        <span class="material-icons icon-white-square">cloud_upload</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="resetImage()" attr.aria-label="{{'ImageUploadComponent.ResetImage'| transloco}}" matTooltip="{{'ImageUploadComponent.ResetImage'| transloco}}">
        <span class="material-icons icon-white-square">undo</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="zoomIn()" attr.aria-label="{{'ImageUploadComponent.Zoom+'| transloco}}" matTooltip="{{'ImageUploadComponent.Zoom+'| transloco}}">
        <span class="material-icons icon-white-square">zoom_in</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="zoomOut()" attr.aria-label="{{'ImageUploadComponent.Zoom-'| transloco}}" matTooltip="{{'ImageUploadComponent.Zoom-'| transloco}}">
        <span class="material-icons icon-white-square">zoom_out</span>
      </button>
    </div>

    <div style="margin-bottom: 1em">
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="rotateRight()" attr.aria-label="{{'ImageUploadComponent.RotateRight'| transloco}}" matTooltip="{{'ImageUploadComponent.RotateRight'| transloco}}">
        <span class="material-icons icon-white-square">rotate_right</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="rotateLeft()" attr.aria-label="{{'ImageUploadComponent.RotateLeft'| transloco}}" matTooltip="{{'ImageUploadComponent.RotateLeft'| transloco}}">
        <span class="material-icons icon-white-square">rotate_left</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="flipHorizontal()" attr.aria-label="{{'ImageUploadComponent.FlipHorizontal'| transloco}}" matTooltip="{{'ImageUploadComponent.FlipHorizontal'| transloco}}">
        <span class="material-icons icon-white-square">swap_horiz</span>
      </button>
      <button mat-flat-button color="accent" *ngIf="showCropper" (click)="flipVertical()" attr.aria-label="{{'ImageUploadComponent.FlipVertical'| transloco}}" matTooltip="{{'ImageUploadComponent.FlipVertical'| transloco}}">
        <span class="material-icons icon-white-square">swap_vert</span>
      </button>
    </div>

  </form>

  <div style="margin: 1em">
    <image-cropper [imageChangedEvent]="imageChangedEvent"
                   [maintainAspectRatio]="true"
                   [containWithinAspectRatio]="containWithinAspectRatio"
                   [aspectRatio]="1 / 1"
                   [cropperMinWidth]=imageMaxWidth
                   [cropperMinHeight]=imageMaxHeight
                   [onlyScaleDown]="true"
                   [canvasRotation]="canvasRotation"
                   [(transform)]="transform"
                   [alignImage]="'left'"
                   [style.display]="showCropper ? null : 'none'"
                   [allowMoveImage]="allowMoveImage"
                   [hidden]="hidden"
                   backgroundColor="white"
                   output="blob"
                   format="webp"
                   [resizeToWidth]=imageMaxWidth
                   [resizeToHeight]=imageMaxHeight
                   [roundCropper]="false"
                   (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded()"
                   (loadImageFailed)="loadImageFailed()"></image-cropper>
    <div *ngIf="loading" class="loader">Loading...</div>
  </div>

</div>
