<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <form (ngSubmit)="onSubmit()" [formGroup]="uploadImageForm">

    <button type="button"
            (click)="fileInput.click()" mat-flat-button color="accent" matTooltip="Choose File">
      <i class="material-icons">folder_open</i>
    </button>
    <input type="file" (change)="fileChangeEvent($event)" #fileInput hidden>

    <mat-form-field *ngIf="croppedImage">
      <input matInput placeholder="{{ titlePlaceholder }}" formControlName="title" (ngModelChange)="onChange()" required>
    </mat-form-field>

    <div style="margin-bottom: 1em">
      <button type="submit" *ngIf="croppedImage"
              (click)="onSubmit()" mat-flat-button color="accent" matTooltip="Upload">
        <i class="material-icons">cloud_upload</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="resetImage()" mat-flat-button color="accent" matTooltip="Reset image">
        <i class="material-icons">undo</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="zoomIn()" mat-flat-button color="accent" matTooltip="Zoom +">
        <i class="material-icons">zoom_in</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="zoomOut()" mat-flat-button color="accent" matTooltip="Zoom -">
        <i class="material-icons">zoom_out</i>
      </button>
    </div>

    <div style="margin-bottom: 1em">
      <button type="button" *ngIf="showCropper"
              (click)="rotateRight()" mat-flat-button color="accent" matTooltip="Rotate right">
        <i class="material-icons">rotate_right</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="rotateLeft()" mat-flat-button color="accent" matTooltip="Rotate left">
        <i class="material-icons">rotate_left</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="flipHorizontal()" mat-flat-button color="accent" matTooltip="Flip horizontal">
        <i class="material-icons">swap_horiz</i>
      </button>
      <button type="button" *ngIf="showCropper"
              (click)="flipVertical()" mat-flat-button color="accent" matTooltip="Flip vertical">
        <i class="material-icons">swap_vert</i>
      </button>
    </div>

  </form>

  <div style="margin: 1em">
    <image-cropper [imageChangedEvent]="imageChangedEvent"
                   [aspectRatio]="4 / 3"
                   [maintainAspectRatio]="false"
                   [onlyScaleDown]="true"
                   [roundCropper]="false"
                   [canvasRotation]="canvasRotation"
                   [transform]="transform"
                   [alignImage]="'left'"
                   [style.display]="showCropper ? null : 'none'"
                   format="png"
                   (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded()"
                   (loadImageFailed)="loadImageFailed()"></image-cropper>

    <!--
    [containWithinAspectRatio]="containWithinAspectRatio"
    [resizeToWidth]="256"
    [cropperMinWidth]="128"
    (cropperReady)="cropperReady($event)"
    -->

  </div>

  <!--<div style="margin: 1em">
    <br />
    <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" (change)="fileChangeEvent($event)" />
    <br />
    <br />
  </div>-->

</div>
