<div mat-dialog-content class="container">
  <h1 mat-dialog-title>{{matDialogTitle}}</h1>
  <div mat-dialog-content>
    {{matDialogContent}}
  </div>
  <br />
  <mat-checkbox [(ngModel)]="IsChecked">{{'DeleteProfileDialog.YesDeleteProfile'| transloco}}</mat-checkbox>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onNoClick()" cdkFocusInitial>{{'NoThanks'| transloco}}</button>
    <button mat-flat-button color="warn" mat-dialog-close (click)="onYesClick()">{{'Ok'| transloco}}</button>
  </div>
</div>
