<div mat-dialog-content class="container">
  <h1 mat-dialog-title>{{matDialogTitle}}</h1>
  <div mat-dialog-content>
    {{matDialogContent}}
  </div>
  <br />
  <mat-checkbox [(ngModel)]="IsChecked">{{'DeleteProfileDialog.YesDeleteProfile'| transloco}}</mat-checkbox>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onNoClick()" cdkFocusInitial attr.aria-label="{{'NoThanks'| transloco}}">
      {{'NoThanks'| transloco}}
    </button>
    <button mat-flat-button color="warn" *ngIf="IsChecked" mat-dialog-close (click)="onYesClick()" attr.aria-label="{{'Ok'| transloco}}">
      {{'Ok'| transloco}}
    </button>
  </div>
</div>
