<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <form [formGroup]="feedbackForm">

    <div class="form-container">

      <mat-form-field>
        <input matInput maxlength="50" placeholder="{{'FeedbackSearchComponent.FeedbackId'| transloco}}" formControlName="feedbackId">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'FeedbackSearchComponent.SentRange'| transloco}}</mat-label>
        <mat-date-range-input [formGroup]="feedbackForm" [rangePicker]="sentpicker">
          <input matStartDate placeholder="{{'FeedbackSearchComponent.StartDate'| transloco}}" formControlName="dateSentStart">
          <input matEndDate placeholder="{{'FeedbackSearchComponent.EndDate'| transloco}}" formControlName="dateSentEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="sentpicker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #sentpicker></mat-date-range-picker>

        <mat-error *ngIf="feedbackForm.controls.dateSentStart.hasError('matStartDateInvalid')">{{'FeedbackSearchComponent.InvalidRange'| transloco}}</mat-error>
        <mat-error *ngIf="feedbackForm.controls.dateSentEnd.hasError('matEndDateInvalid')">{{'FeedbackSearchComponent.InvalidRange'| transloco}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'FeedbackSearchComponent.SeenRange'| transloco}}</mat-label>
        <mat-date-range-input [formGroup]="feedbackForm" [rangePicker]="seenpicker">
          <input matStartDate placeholder="{{'FeedbackSearchComponent.StartDate'| transloco}}" formControlName="dateSeenStart">
          <input matEndDate placeholder="{{'FeedbackSearchComponent.EndDate'| transloco}}" formControlName="dateSeenEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="seenpicker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #seenpicker></mat-date-range-picker>

        <mat-error *ngIf="feedbackForm.controls.dateSeenStart.hasError('matStartDateInvalid')">{{'FeedbackSearchComponent.InvalidRange'| transloco}}</mat-error>
        <mat-error *ngIf="feedbackForm.controls.dateSeenEnd.hasError('matEndDateInvalid')">{{'FeedbackSearchComponent.InvalidRange'| transloco}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="50" placeholder="{{'FeedbackSearchComponent.FromId'| transloco}}" formControlName="fromProfileId"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="50" placeholder="{{'FeedbackSearchComponent.FromName'| transloco}}" formControlName="fromName"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="50" placeholder="{{'FeedbackSearchComponent.AdminId'| transloco}}" formControlName="adminProfileId"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="50" placeholder="{{'FeedbackSearchComponent.AdminName'| transloco}}" formControlName="adminName"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'FeedbackSearchComponent.FeedbackType'| transloco}}" formControlName="feedbackType" [(value)]="filter.feedbackType">
          <mat-option *ngFor="let feedbackType of feedbackTypes | keyvalue: originalOrder" [value]="feedbackType.key">
            {{ feedbackType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput maxlength="2000" placeholder="{{'FeedbackSearchComponent.Message'| transloco}}" formControlName="message">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'FeedbackSearchComponent.Open'| transloco}}" formControlName="open" [(value)]="open">
          <mat-option value="notChosen">{{'Enum.NotChosen'| transloco}}</mat-option>
          <mat-option value="true">{{'FeedbackSearchComponent.Open'| transloco}}</mat-option>
          <mat-option value="false">{{'FeedbackSearchComponent.Closed'| transloco}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Language'| transloco}}" formControlName="languagecode">
          <mat-option *ngFor="let lang of languageList" [value]="lang.code">
            {{ lang.label }}<span class="flag-icon flag-icon-{{lang.alpha2}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Country'| transloco}}" formControlName="countrycode">
          <mat-option *ngFor="let country of countryList" [value]="country.code">
            {{ country.label }}<span class="flag-icon flag-icon-{{country.code}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>

</div>
