<div mat-dialog-content class="container">
  <h1 mat-dialog-title>{{'CreateProfileDialog.Title'| transloco}}</h1>
  <div mat-dialog-content>
    {{'CreateProfileDialog.Content'| transloco}}
  </div>
  <br />
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" mat-dialog-close (click)="uploadImageClick()" attr.aria-label="{{'CreateProfileDialog.UploadImage'| transloco}}">
      {{'CreateProfileDialog.UploadImage'| transloco}}
    </button>
    <button mat-flat-button color="accent" mat-dialog-close (click)="goToDashboardClick()" attr.aria-label="{{'CreateProfileDialog.GoToDashboard'| transloco}}">
      {{'CreateProfileDialog.GoToDashboard'| transloco}}
    </button>
  </div>
</div>
