#navbar {
  background-color: #607d8b; /* Black background color */
  position: sticky; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  left: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 2;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.menu-buttons {
  display: inline;
}

.menu {
  color: #cfd8dc;
  position: absolute;
  right: 0em;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
.mat-menu-flat-button {
  margin: 10px;
}

.language {
  padding: 16px 16px 16px 16px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.mobile {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  /*width: 95vw;*/
  width: 98%;
}

/*@media (max-width: 1080px) {
  mat-sidenav {
    width: 90%;
  }
}

@media (max-width: 599px) {
  mat-sidenav {
    width: 90%;
  }
}*/
