<h1>{{title}}</h1>
    <nav>

     <div class="container-fluid">
      <form class="form-inline">

        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
            Log In
        </button>

        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>

      </form>
    </div>

    <div *ngIf="auth.isAuthenticated()">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/edit">Edit Profile</a>
      <a routerLink="/profileSearch">Search</a>
    </div>

     
    </nav>
    <router-outlet></router-outlet>
