<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div>
    <h3>{{'AdminComponent.Admin'| transloco}}</h3>

    <form (ngSubmit)="onSubmit()" [formGroup]="deleteProfilesForm">

      <div style="margin-bottom: 1em">
        <button mat-flat-button color="accent" type="submit" [disabled]="deleteProfilesForm.pristine" matTooltip="{{'AdminComponent.DeleteOldProfiles'| transloco}}">
          <span class="material-icons icon-white-square">delete_forever</span>
        </button>
        <button mat-flat-button color="accent" (click)="createForm()" [disabled]="deleteProfilesForm.pristine" matTooltip="{{'Reset'| transloco}}">
          <span class="material-icons icon-white-square">undo</span>
        </button>
      </div>

      <div class="form-container">
        <mat-form-field>
          <input type="number" matInput placeholder="{{'AdminComponent.DaysBack'| transloco}}" formControlName="daysBack">
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="{{'AdminComponent.limit'| transloco}}" formControlName="limit">
        </mat-form-field>
      </div>
    </form>

  </div>
</div>
