<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div *ngIf="noFeedbacks" class="noResults">
    <p>
      {{'FeedbackAdminComponent.NoResultsText'| transloco}}
    </p>
  </div>


  <div [class.mobile]="mobileQuery.matches">
    <div *ngIf="dataSource && !noFeedbacks" class="mat-elevation-z8">

      <button type="button" (click)="sidenav.toggle(); toggleDisplay();" class="mat-app-flat-button" mat-flat-button color="accent" matTooltip={{matButtonToggleText}}>
        <i class="material-icons">{{matButtonToggleIcon}}</i>
      </button>

      <button type="button" (click)="assignFeedbackToAdmin()" class="mat-flat-button" mat-flat-button color="accent" matTooltip="{{'ListViewComponent.Bookmarked'| transloco}}">
        <i class="material-icons">bookmark</i>
      </button>

      <div *ngIf="pageView === 'search'" class="menu-buttons">
        <button type="submit" (click)="onSubmit()" class="mat-app-flat-button" mat-flat-button color="accent" matTooltip=search>
          <i class="material-icons">search</i>
        </button>

        <button type="button" (click)="reset()"
                class="mat-search-flat-button" mat-flat-button color="accent" matTooltip="{{'Reset'| transloco}}">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- DateSent Column -->
        <ng-container matColumnDef="dateSent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.DateSent'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.dateSent | translocoDate: { dateStyle: 'medium', timeStyle: 'medium'} }} </td>
        </ng-container>

        <!-- DateSeen Column -->
        <ng-container matColumnDef="dateSeen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.DateSeen'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.dateSeen | translocoDate: { dateStyle: 'medium', timeStyle: 'medium'} }} </td>
        </ng-container>

        <!-- FromName Column -->
        <ng-container matColumnDef="fromName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.FromName'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.fromName}} </td>
        </ng-container>

        <!-- AdminName Column -->
        <ng-container matColumnDef="adminName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.AdminName'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.adminName}} </td>
        </ng-container>

        <!-- FeedbackType Column -->
        <ng-container matColumnDef="feedbackType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.FeedbackType'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.feedbackType}} </td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.Message'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.message}} </td>
        </ng-container>

        <!-- Open Column -->
        <ng-container matColumnDef="open">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.Open'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.open}} </td>
        </ng-container>

        <!-- Countrycode Column -->
        <ng-container matColumnDef="countrycode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.Countrycode'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.countrycode}} </td>
        </ng-container>

        <!-- Languagecode Column -->
        <ng-container matColumnDef="languagecode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FeedbackAdminComponent.Languagecode'| transloco}} </th>
          <td mat-cell *matCellDef="let element"> {{element?.languagecode}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            (click)="openImageDialog(element)">
        </tr>

      </table>



      <!--<button type="button" *ngIf="viewFilterType === 'BookmarkedProfiles'" (click)="toggleBookmarkedProfiles()" class="mat-flat-button" mat-flat-button color="accent" matTooltip="{{'ListViewComponent.RemoveFromBookmarked'| transloco}}">
        <i class="material-icons">bookmark_border</i>
      </button>-->
      <!--<button type="button" (click)="toggleLike()" class="mat-flat-button" mat-flat-button color="accent" matTooltip="{{'ListViewComponent.Like'| transloco}}">
        <i class="material-icons">favorite</i>
      </button>

      <button type="button" *ngIf="currentUserSubject != null && currentUserSubject.admin" (click)="openDeleteProfilesDialog()" mat-flat-button color="accent" matTooltip="{{'ListViewComponent.DeleteProfile'| transloco}}">
        <i class="material-icons">delete</i>
      </button>-->

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

    </div>
  </div>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches ? 200 : 140">
      <feedback-search (getFeedbacksByFilter)="getFeedbacksByFilter($event)"></feedback-search>
    </mat-sidenav>

    <!--<mat-sidenav-content>-->
    <!--<div *ngIf="pageView === 'Search' || pageView === 'Dashboard'">
      <dashboard (isCurrentUserCreated)="isCurrentUserCreated($event)" (loadDetails)="loadDetails($event)"></dashboard>
    </div>

    <div *ngIf="pageView === 'About'">
      <about></about>
    </div>

    <div *ngIf="pageView === 'Feedback'">
      <feedback></feedback>
    </div>

    <div *ngIf="pageView === 'FeedbackAdmin'">
      <feedback-admin></feedback-admin>
    </div>

    <div *ngIf="!isProfileCreated && pageView != 'About' && pageView != 'Feedback'">
      <create-profile (isCurrentUserCreated)="isCurrentUserCreated($event)" (initDefaultData)="initDefaultData()"></create-profile>
    </div>

    <div *ngIf="isProfileCreated && pageView === 'Edit'">
      <currentUserBoard (loadDetails)="loadDetails($event)"><edit-profile></edit-profile></currentUserBoard>
    </div>

    <div *ngIf="isProfileCreated && pageView === 'Details'">-->
    <!-- Tile and List should call details-page with Profile as input -->
    <!--<profileDetailsBoard [profile]="profile"><profile-details></profile-details></profileDetailsBoard>
    </div>-->
    <!--</mat-sidenav-content>-->
  </mat-sidenav-container>

</div>
