<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div *ngIf="dataSource">
    <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'| transloco}} </th> <!-- TODO: Avatar Column needs a name -->
        <td mat-cell *matCellDef="let element" class="circle" [ngStyle]="{'background-color':  element?.avatar.circleColour }">
          <div class="initials" [ngStyle]="{'color':  element?.avatar.initialsColour }">{{element?.avatar.initials}}</div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'| transloco}} </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          (click)="openImageDialog(element)">
      </tr>

    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)"></mat-paginator>

  </div>

</div>

