tr.detail-row {
  height: 0;
}

.menu-buttons {
  display: inline;
}

.button-row button {
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
}

i.icon-orange {
  color: #f07537;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}
