<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
	<div *ngIf="profile">
		<h2>{{profile.name}} details!</h2>
		<div><label>profileId: </label>{{profile.profileId}}</div>
		<div>
			<label>name: </label>
			<input [(ngModel)]="profile.name" placeholder="name">
		</div>

		<button mat-flat-button color="accent"  routerLink="/imagegallery/{{profile.profileId}}">Gallery</button>


		<div *ngIf="currentUserSubject != null && currentUserSubject.admin" class="button-row">
			<button mat-icon mat-flat-button color="accent" *ngIf="!profile.admin" (click)="setProfileAsAdmin()" matTooltip="Set Profile as Admin">
				<i class="material-icons">admin_panel_settings</i>
			</button>

			<button mat-icon mat-flat-button color="accent" *ngIf="profile.admin" (click)="removeProfileAsAdmin()" matTooltip="Remove Profile as Admin">
				<i class="material-icons">verified_user</i>
			</button>
		</div>

		<div *ngIf="currentUserSubject != null && currentUserSubject.admin" class="button-row">
			<button mat-icon mat-flat-button color="accent" *ngIf="currentUserSubject.admin" (click)="openDeleteProfilesDialog()" matTooltip="Delete profile(s)">
				<i class="material-icons">delete</i>
			</button>
		</div>

	</div>
