<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
	<div *ngIf="profile">
		<h2>{{profile.name}} details!</h2>
		<div><label>profileId: </label>{{profile.profileId}}</div>
		<div>
			<label>name: </label>
			<input [(ngModel)]="profile.name" placeholder="name">
		</div>

		<button routerLink="/imagegallery/{{profile.profileId}}">Gallery</button>


		<div *ngIf="currentUserSubject != null && currentUserSubject.admin" class="button-row">
			<button *ngIf="!profile.admin" (click)="setProfileAsAdmin()">Set Profile as Admin</button>
			<button *ngIf="profile.admin" (click)="removeProfileAsAdmin()">Remove Profile as Admin</button>
		</div>

		<div *ngIf="currentUserSubject != null && currentUserSubject.admin" class="button-row">
			<button *ngIf="currentUserSubject.admin" (click)="openDeleteProfilesDialog()" mat-stroked-button color="primary">Delete profile(s)</button>
		</div>

	</div>
