/*.sortOrder {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}*/
/*.fill-space {
  flex: 1 1 auto;
}*/


/*.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}*/

/* Create four equal columns that sits next to each other */
/*.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }*/

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/

/*@use "@material/floating-label/mdc-floating-label";*/
/*@use "@material/line-ripple/mdc-line-ripple";*/
/*@use "@material/notched-outline/mdc-notched-outline";*/
/*@use "@material/textfield";*/

/*@include textfield.core-styles;*/

/*.my-masonry-image-list {
  @include image-listmasonry-columns(5);
}*/


/*@import '~@material/image-list/mdc-image-list';
@import '~@material/image-list';

.my-image-list {
  @include image-list.standard-columns(5);
}*/

/*npm install @material/floating-label
npm install @material/line-ripple
npm install @material/notched-outline
npm install @material/textfield
npm install @material/image-list*/
