@import '~@material/image-list/mdc-image-list';

.sortOrder{
  margin-bottom: 10px;
}

.masonry-image-list {
  @include mdc-image-list-masonry-columns(5);
  /*max-width: 1080px;*/
}

@media (max-width: 1080px) {
  .masonry-image-list {
    @include mdc-image-list-masonry-columns(3);
  }
}

@media (max-width: 599px) {
  .masonry-image-list {
    @include mdc-image-list-masonry-columns(1);
  }
}

.noResults {
  padding-bottom: 25%;
}

.mdc-image-list__item {
  border-style: solid;
  border-color: #607d8b;
}

.mdc-image-list__item:hover .overlay-images {
  height: 50px;
}

/*.list__item {
  border-style: solid;
  border-color: #607d8b;
  margin-bottom: 10px;
  list-style-type: none;
}

.visited {
  border-style: solid;
  border-color: #f07537;
  margin-bottom: 10px;
  list-style-type: none;
}

.list__item:hover .overlay {
  height: 50px;
}*/

.overlay-images {
  background-color: #44606e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.mdc-image-list__label {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mat-icon-button {
  position: absolute;
  right: 0;
  top: 0;
}

.like {
  position: absolute;
  left: 0;
  top: 0;
}

/*.material-icons {
  color: #FFFFFF;
}*/

/*i.icon-orange {
  color: #f07537;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}*/
