<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>-->

  <div *ngIf="noProfiles" class="noResults">
    <p i18n="NoResultsText | No results text @@noResultsText">
      Sorry no results :(
    </p>
  </div>

  <ul class="mdc-image-list mdc-image-list--masonry masonry-image-list"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      [scrollWindow]="true"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()">
    <li class="mdc-image-list__item" *ngFor="let profile of profiles">

      <img class="mdc-image-list__image" [lazyLoad]="profile.images[0].image" [defaultImage]="profile.images[0].image" (click)="loadDetails(profile)">

      <div class="overlay">
        <!--<div class="mdc-image-list--with-text-protection">-->
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">{{profile.name}}</span>
        </div>
        <div class="button">
          <button mat-icon-button *ngIf="viewFilterType === 'BookmarkedProfiles'" (click)="removeFavoritProfiles(profile.profileId)" i18n-matTooltip="Remove from favorites | Remove from favorites @@removeFromFavorites" matTooltip="Remove from favorites">
            <i class="material-icons">bookmark_border</i>
          </button>
          <button mat-icon-button *ngIf="viewFilterType !== 'BookmarkedProfiles'" (click)="addFavoritProfiles(profile.profileId)" i18n-matTooltip="Add to favorites | Add to favorites @@addToFavorites" matTooltip="Add to favorites">
            <i class="material-icons">bookmark</i>
          </button>
        </div>
        <!--</div>-->
      </div>

    </li>
  </ul>

</div>
