
.container {
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
}

.container img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

/*@media (max-width: 1080px) {
  .container img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 599px) {
  .container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}*/

.container .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

.container .close:hover {
  background-color: #44606e;
}

.container .next {
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .next:hover {
  background-color: #44606e;
}

.container .before {
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .before:hover {
  background-color: #44606e;
}

.title, fabbuttons {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
