
.container {
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
}

.container img {
  width: auto;
  height: 100%;
}

.container .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

.container .close:hover {
  background-color: #44606e;
}

.container .next {
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .next:hover {
  background-color: #44606e;
}

.container .before {
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .before:hover {
  background-color: #44606e;
}
