<div mat-dialog-content class="container">
  <button type="button" class="close" (click)="onCloseClick()" mat-button matTooltip="{{'ImageDialogComponent.Close'| transloco}}">
    <span class="material-icons">close</span>
  </button>

  <img [lazyLoad]="data.imageModels[index].image" [defaultImage]="data.imageModels[index].smallimages">

  <button *ngIf="(data.imageModels.length - 1) > index" type="button" class="next" (click)="onNextClick()" mat-button matTooltip="{{'ImageDialogComponent.Next'| transloco}}">
    <span class="material-icons">navigate_next</span>
  </button>

  <button *ngIf="0 < (data.imageModels.length - 1) && 0 < index" type="button" class="before" (click)="onBeforeClick()" mat-button matTooltip="{{'ImageDialogComponent.Before'| transloco}}">
    <span class="material-icons">navigate_before</span>
  </button>

</div>

<h3 class="title" mat-dialog-title (click)="loadDetailsClick()">{{data.imageModels[index].title}}</h3>

<button type="button" class="fabbuttons" *ngIf="!isThisCurrentUser()" (click)="loadDetailsClick()" mat-button matTooltip="{{'ImageDialogComponent.ProfileDetails'| transloco}}">
  <span class="material-icons">person</span>
</button>

<button type="button" class="fabbuttons" *ngIf="!isThisCurrentUser() && liked()" (click)="removeLike()" mat-button matTooltip="{{data.profile.likes?.length}} {{'ImageDialogComponent.Likes'| transloco}}">
  <span class="material-icons">favorite</span>
</button>
<button type="button" class="fabbuttons" *ngIf="!isThisCurrentUser() && !liked()" (click)="addLike()" mat-button matTooltip="{{data.profile.likes?.length}} {{'ImageDialogComponent.Likes'| transloco}}">
  <span class="material-icons">favorite_border</span>
</button>

<button type="button" class="fabbuttons" *ngIf="!isThisCurrentUser() && bookmarked()" (click)="removeBookmarkedProfiles()" mat-button matTooltip="{{'ImageDialogComponent.RemoveFromBookmarked'| transloco}}">
  <span class="material-icons">bookmark</span>
</button>
<button type="button" class="fabbuttons" *ngIf="!isThisCurrentUser() && !bookmarked()" (click)="addBookmarkedProfiles()" mat-button matTooltip="{{'ImageDialogComponent.AddToBookmarked'| transloco}}">
  <span class="material-icons">bookmark_border</span>
</button>
