<div class="grid grid-pad">

  <mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab label="{{'EditProfile'| transloco}}"> <edit-profile></edit-profile> </mat-tab>
    <mat-tab label="{{'ProfileImages'| transloco}}"> <image-board></image-board> </mat-tab>
    <mat-tab label="{{'BookmarkedMe'| transloco}}"> <bookmarks-listview (loadProfileDetails)="loadProfileDetails($event)"></bookmarks-listview> </mat-tab>
    <mat-tab label="{{'MyChatGroups'| transloco}}"> <groupMembership-listview (loadProfileDetails)="loadProfileDetails($event)"></groupMembership-listview> </mat-tab>
  </mat-tab-group>

</div>
