<div class="grid grid-pad">

  <mat-tab-group [(tabIndex)]="tabIndex">
    <mat-tab label="{{'CurrentUserBoardComponent.EditProfile'| transloco}}"> <edit-profile></edit-profile> </mat-tab>
    <mat-tab label="{{'CurrentUserBoardComponent.ProfileImages'| transloco}}"> <image-board></image-board> </mat-tab>
    <mat-tab label="{{'CurrentUserBoardComponent.ChatMembers'| transloco}}"> <chatMemebers-listview (loadProfileDetails)="loadProfileDetails($event)"></chatMemebers-listview> </mat-tab>
  </mat-tab-group>

</div>
