<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <div *ngIf="isTileView"><app-profile-tileview [profiles]="profiles" [showingBookmarkedProfilesList]="showingBookmarkedProfilesList" [orderBy]="selectedOrderBy" (getBookmarkedProfiles)="getBookmarkedProfiles()"></app-profile-tileview></div>
  <div *ngIf="!isTileView"><app-profile-listview [profiles]="profiles" [viewFilterType]="viewFilterType" (getNextData)="getNextData($event)" [displayedColumns]="displayedColumns" (getBookmarkedProfiles)="getBookmarkedProfiles()"></app-profile-listview></div>

</div>
