<div *ngIf="!auth.isAuthenticated()">
	<h4>
  		You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
	</h4>
</div>

<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

	<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
		<mat-button-toggle (click)=getProfileByCurrentUsersFilter()>My filter</mat-button-toggle>
		<mat-button-toggle (click)=getLatestCreatedProfiles()>Latest Profiles</mat-button-toggle>
		<mat-button-toggle (click)=getLastUpdatedProfiles()>Last Updated Profiles</mat-button-toggle>
		<mat-button-toggle (click)=getLastActiveProfiles()>Last Active Profiles</mat-button-toggle>
		<mat-button-toggle (click)=getBookmarkedProfiles()>Bookmarked Profiles</mat-button-toggle>
	</mat-button-toggle-group>

	<mat-button-toggle (click)=toggleDisplay()>{{matButtonToggleText}}</mat-button-toggle>
	<div *ngIf="isTileView"><app-profile-tileview [profiles]="profiles" [showingBookmarkedProfilesList]="showingBookmarkedProfilesList"></app-profile-tileview></div>
	<div *ngIf="!isTileView"><app-profile-listview [profiles]="profiles" [showingBookmarkedProfilesList]="showingBookmarkedProfilesList"></app-profile-listview></div>

</div>
