<div mat-dialog-content class="container">
  <h1 mat-dialog-title>{{matDialogTitle}}</h1>
  <div mat-dialog-content>
    {{matDialogContent}}
  </div>
  <br />
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" mat-dialog-close (click)="onCloseClick()" attr.aria-label="{{'Ok'| transloco}}">
      {{'Ok'| transloco}}
    </button>

    <button mat-flat-button color="accent" *ngIf="joined" (click)="toggleGroupJoin()" attr.aria-label="{{'GroupLeave'| transloco}}" matTooltip="{{'GroupLeave'| transloco}}">
      <span class="material-icons icon-white-square">groups</span>
    </button>
    <button mat-flat-button color="primary" *ngIf="!joined" (click)="toggleGroupJoin()" attr.aria-label="{{'GroupJoin'| transloco}}" matTooltip="{{'GroupJoin'| transloco}}">
      <span class="material-icons icon-orange-square">groups</span>
    </button>

  </div>

  <div *ngIf="dataSource">
    <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>

      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="avatar?.initials"></th>
        <td mat-cell *matCellDef="let element" class="circle" [ngStyle]="{'background-color':  element?.avatar?.circleColour }">
          <div class="initials" [ngStyle]="{'color':  element?.avatar?.initialsColour }">{{element?.avatar?.initials}}</div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'| transloco}} </th>
        <td mat-cell *matCellDef="let element" (click)="loadProfileDetails(element?.profileId)"> {{element?.name}} </td>
      </ng-container>

      <!-- Complain Column -->
      <ng-container *ngIf="joined" matColumnDef="complain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary" *ngIf="!complainedaboutProfileIds.includes(element?.profileId)" (click)="complain(element?.profileId); $event.stopPropagation()" attr.aria-label="{{'ComplainAboutBookmark'| transloco}}" matTooltip="{{'ComplainAboutBookmark'| transloco}}">
            <span class="material-icons icon-orange-square">report</span>
          </button>
          <button mat-flat-button color="accent" *ngIf="complainedaboutProfileIds.includes(element?.profileId)" attr.aria-label="{{'ComplainAboutBookmark'| transloco}}" matTooltip="{{'ComplainAboutBookmark'| transloco}}">
            <span class="material-icons icon-white-square">report</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row">
      </tr>

    </table>

    <!--<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)"></mat-paginator>-->

  </div>



</div>
