/* Master Styles */
h1 {
  font-size: 1.2em;
}

h2 {
  color: #ffffff;
  display: inline;
  padding: 16px;
  font-weight: lighter;
  font-size: 2em;
}

h3 {
  color: #607D8B;
  font-weight: lighter;
  font-size: 2em;
}

h4 {
  font-weight: normal;
  letter-spacing: 2px;
}

body {
  margin: 2em;
}

/* Error or warning font */
.error {
  color: #f07537;
}

.noResults {
  padding-bottom: 25%;
}

.sortOrder {
  margin-bottom: 10px;
}

.like {
  position: absolute;
  left: 2px;
  top: 0;
}

.bookmarked {
  position: absolute;
  left: 5px;
  top: 0;
}

.delete {
  position: absolute;
  right: 2px;
  top: 0;
}

.menu-buttons { // Change name
  display: inline;
}

/* everywhere else */
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: #607d8b; /* Black background color */
  position: sticky; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  left: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 2;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

// Containers and dialog boxes
.container {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.container .close {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
  background-color: #ffffff;
}

.container .close:hover {
  background-color: #44606e;
  right: 2px;
}

.container .next {
  position: absolute;
  right: 2px;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .next:hover {
  background-color: #44606e;
}

.container .before {
  position: absolute;
  left: 2px;
  top: calc(50% - 9px);
  z-index: 1;
  background-color: #ffffff;
}

.container .before:hover {
  background-color: #44606e;
}

.container img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* images */
img {
  max-inline-size: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  block-size: auto;
}

.imageOverlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #44606e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.imageLabel {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.imageBoadButtonToggle {
  margin-bottom: 10px;
}


// TileView and other grid layouts
.profile-list-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-list-grid.details > div {
  max-width: 250px; // TODO: Find best size
}

.profile-list-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: fill; // TODO: Find best fit
  border-style: solid;
  border-color: #607d8b;
}

.profile-list-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-column: span 1;
  grid-row: span 1;
  overflow: hidden;
}

.profile-list-grid .big {
  grid-column: span 2;
  grid-row: span 2;
}

.profile-list-grid.details .big {
  max-width: 500px; // TODO: Find best size
  grid-column: span 2;
  grid-row: span 2;
}

.profile-list-grid > div:hover .imageOverlay {
  height: 50px;
}


/* ListView, tables etc */
/*Important in order stop hide MatPaginator items per page.*/
::ng-deep .mat-mdc-paginator-range-label {
  display: none !important;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}



.space-grey.mat-mdc-select-panel {
  /*background: red;*/
  margin-right: 10px;
  margin-left: 10px;
}

button.mat-mdc-unelevated-button {
  margin: 10px 0px 10px 10px;
}

.mat-mdc-select {
  /*width: 500px !important;*/
  /*border: solid 1px rgba(101,115,126, 0.5);*/
  padding: 0px;
}

/* Start - Hack overwrite to make slider show always */
/*TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version.*/
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version.*/
.mat-slider-thumb {
  transform: scale(0) !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version.*/
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
/* End - Hack overwrite to make slider show always */


// Icons and buttons
.material-icons {
  color: #607D8B;
}

.material-icons.icon-white-square {
  color: #FFFFFF;
}

.material-icons.icon-white {
  color: #FFFFFF;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}

.material-icons.icon-orange {
  color: #f07537;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}

.material-icons.icon-orange-left {
  color: #f07537;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}

.material-icons.icon-orange-right {
  color: #f07537;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  background: #44606e;
  border-radius: 50%;
}

.mat-menu-flat-button {
  margin: 10px;
}

/*Spinners*/
.spinner-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.custom-spinner circle {
  stroke: #607D8B;
}

.spinner-container mat-spinner { // Delete perhaps
  margin: 130px auto 0 auto;
}

/*Form containers - create, edit and search*/
.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-form-field {
  width: 90%;
}

.textarea, input {  // TODO: Find out why this does not work, look at edit-profile
  caret-color: #f07537;
}

/*Sidenav form search, feedback etc*/
.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.mobile {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  /*width: 95vw;*/
  width: 98%;
}

.section {
  margin: 12px 0;
  display: inline;
}

.checkbox {
  margin: 0 12px;
}

/*Snack-bar*/
.mat-snack-bar {
  background-color: #ffffff;
  color: #607D8B;
  border: none;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #607D8B;
}

/*Avatar*/
.circle {
  float: left;
  margin-right: 5px;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .initials {
    /*color: #FFFFFF;*/
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}

.square {
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .initials {
    /*color: #FFFFFF;*/
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}
