<div class="profile-list-grid details">
  <div *ngFor="let image of profile.images;let indexOfelement=index" [ngClass]="imageSize[indexOfelement]">

    <ad-tile *ngIf="profile.images[indexOfelement].imageId==='ad'"></ad-tile>

    <img *ngIf="profile.images[indexOfelement].imageId!=='ad'" src="{{profile.images[indexOfelement].image}}" alt="{{profile.images[indexOfelement].title}}" loading="lazy" decoding="async" (click)="openImageDialog(indexOfelement)">
    <div *ngIf="profile.images[indexOfelement].imageId!=='ad'" class="imageOverlay">
       <span class="imageLabel">{{profile.images[indexOfelement].title}}</span>
    </div>

  </div>
</div>
