<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <h4>{{'CreateProfileComponent.Create'| transloco}}Create your profile</h4>

  <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm">

    <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="newUserForm.pristine" mat-flat-button color="accent" matTooltip="{{'CreateProfileComponent.Save'| transloco}}">
        <i class="material-icons">save</i>
      </button>
      <button type="button" (click)="revert()"
              [disabled]="newUserForm.pristine" mat-flat-button color="accent" matTooltip="{{'CreateProfileComponent.Reset'| transloco}}">
        <i class="material-icons">undo</i>
      </button>
    </div>

    <div class="form-container">

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.Language'| transloco}}" formControlName="languagecode" [(value)]="siteLocale" (selectionChange)="switchLanguage()" required>
          <mat-option *ngFor="let lang of languageList" [value]="lang.code">
            {{ lang.label }}<span class="flag-icon flag-icon-{{lang.alpha2}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{countrycodePlaceholder}}" formControlName="countrycode" [(value)]="currentUser.countrycode" required>
          <mat-option *ngFor="let country of countryList" [value]="country.code">
            {{ country.label }}<span class="flag-icon flag-icon-{{country.code}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="tag-list">
        <mat-chip-list #chipList formControlName="tags">
          <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
          </mat-chip>
          <input matInput placeholder="{{tagsPlaceholder}}"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field>
        <input matInput maxlength="50" placeholder="{{namePlaceholder}}" formControlName="name" required minlength="3">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="2000" placeholder="{{'CreateProfileComponent.Description'| transloco}}" formControlName="description"></textarea>
      </mat-form-field>

      <mat-label>{{'CreateProfileComponent.Age'| transloco}}</mat-label>
      <mat-slider min={{defaultAge}} max="120" step="1" [value]="age" thumbLabel formControlName="age" class="cdk-focused">
      </mat-slider>

      <mat-label>{{'CreateProfileComponent.Height'| transloco}}</mat-label>
      <mat-slider min="1" max="250" step="1" [value]="height" thumbLabel formControlName="height" class="cdk-focused">
      </mat-slider>

      <mat-form-field>
        <mat-select placeholder="{{genderPlaceholder}}" formControlName="gender" required>
          <mat-option *ngFor="let genderType of genderTypes | keyvalue: originalOrder" [value]="genderType.key">
            {{ genderType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{sexualOrientationPlaceholder}}" formControlName="sexualOrientation" required>
          <mat-option *ngFor="let sexualOrientationType of sexualOrientationTypes | keyvalue: originalOrder" [value]="sexualOrientationType.key">
            {{ sexualOrientationType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.BodyType'| transloco}}" formControlName="body">
          <mat-option *ngFor="let bodyType of bodyTypes | keyvalue: originalOrder" [value]="bodyType.key">
            {{ bodyType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.SmokingHabitsType'| transloco}}" formControlName="smokingHabits">
          <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes | keyvalue: originalOrder" [value]="smokingHabitsType.key">
            {{ smokingHabitsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.HasChildrenType'| transloco}}" formControlName="hasChildren">
          <mat-option *ngFor="let hasChildrenType of hasChildrenTypes | keyvalue: originalOrder" [value]="hasChildrenType.key">
            {{ hasChildrenType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.WantChildrenType'| transloco}}" formControlName="wantChildren">
          <mat-option *ngFor="let wantChildrenType of wantChildrenTypes | keyvalue: originalOrder" [value]="wantChildrenType.key">
            {{ wantChildrenType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.HasPetsType'| transloco}}" formControlName="hasPets">
          <mat-option *ngFor="let hasPetsType of hasPetsTypes | keyvalue: originalOrder" [value]="hasPetsType.key">
            {{ hasPetsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.LivesInType'| transloco}}" formControlName="livesIn">
          <mat-option *ngFor="let livesInType of livesInTypes | keyvalue: originalOrder" [value]="livesInType.key">
            {{ livesInType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.EducationType'| transloco}}" formControlName="education">
          <mat-option *ngFor="let educationType of educationTypes | keyvalue: originalOrder" [value]="educationType.key">
            {{ educationType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.EducationStatusType'| transloco}}" formControlName="educationStatus">
          <mat-option *ngFor="let educationStatusType of educationStatusTypes | keyvalue: originalOrder" [value]="educationStatusType.key">
            {{ educationStatusType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.EmploymentStatusType'| transloco}}" formControlName="employmentStatus">
          <mat-option *ngFor="let employmentStatusType of employmentStatusTypes | keyvalue: originalOrder" [value]="employmentStatusType.key">
            {{ employmentStatusType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.SportsActivityType'| transloco}}" formControlName="sportsActivity">
          <mat-option *ngFor="let sportsActivityType of sportsActivityTypes | keyvalue: originalOrder" [value]="sportsActivityType.key">
            {{ sportsActivityType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.EatingHabitsType'| transloco}}" formControlName="eatingHabits">
          <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes | keyvalue: originalOrder" [value]="eatingHabitsType.key">
            {{ eatingHabitsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.ClotheStyleType'| transloco}}" formControlName="clotheStyle">
          <mat-option *ngFor="let clotheStyleType of clotheStyleTypes | keyvalue: originalOrder" [value]="clotheStyleType.key">
            {{ clotheStyleType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'CreateProfileComponent.BodyArtType'| transloco}}" formControlName="bodyArt">
          <mat-option *ngFor="let bodyArtType of bodyArtTypes | keyvalue: originalOrder" [value]="bodyArtType.key">
            {{ bodyArtType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="isChecked" [checked]="contactable" matTooltip="{{'CreateProfileComponent.ContactableText'| transloco}}" placeholder="{{'CreateProfileComponent.Contactable'| transloco}}" formControlName="contactable">{{isChecked ? 'Contactable' : 'Not Contactable'}}</mat-slide-toggle>

    </div>

  </form>

</div>
