<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <h4>{{'CreateProfileComponent.Create'| transloco}}Create your profile</h4>

  <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm">

    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="newUserForm.pristine" mat-flat-button color="accent" attr.aria-label="{{'Save'| transloco}}" matTooltip="{{'Save'| transloco}}">
        <span class="material-icons">save</span>
      </button>
      <button mat-flat-button color="accent" (click)="revert()" [disabled]="newUserForm.pristine" attr.aria-label="{{'Reset'| transloco}}" matTooltip="{{'Reset'| transloco}}">
        <span class="material-icons">undo</span>
      </button>
    </div>

    <div class="form-container">

      <mat-form-field>
        <mat-select placeholder="{{'Language'| transloco}}" formControlName="languagecode" [(value)]="siteLocale" (selectionChange)="switchLanguage()" required>
          <mat-option *ngFor="let lang of languageList" [value]="lang.code">
            {{ lang.label }}<span class="flag-icon flag-icon-{{lang.alpha2}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{countrycodePlaceholder}}" formControlName="countrycode" [(value)]="currentUser.countrycode" required>
          <mat-option *ngFor="let country of countryList" [value]="country.code">
            {{ country.label }}<span class="flag-icon flag-icon-{{country.code}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="tag-list">
        <mat-chip-grid #chipList formControlName="tags">
          <mat-chip-row *ngFor="let tag of tagsList" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
          </mat-chip-row>
          <input matInput placeholder="{{tagsPlaceholder}}"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-grid>
      </mat-form-field>

      <mat-form-field>
        <input matInput maxlength="50" placeholder="{{namePlaceholder}}" formControlName="name" required minlength="3">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput maxlength="2000" placeholder="{{'Description'| transloco}}" formControlName="description" class="textarea"></textarea>
      </mat-form-field>

      <mat-label>{{'Age'| transloco}}</mat-label>
      <mat-slider min={{minAge}} max={{maxAge}} step="1" class="cdk-focused"><input thumbLabel formControlName="age" matSliderThumb [value]="age" />
      </mat-slider>

      <mat-label>{{'Height'| transloco}}</mat-label>
      <mat-slider min={{minHeight}} max={{maxHeight}} step="1" class="cdk-focused"><input thumbLabel formControlName="height" matSliderThumb [value]="height" />
      </mat-slider>

      <mat-form-field>
        <mat-select placeholder="{{Gender}}" formControlName="gender" required>
          <mat-option *ngFor="let genderType of genderTypes | keyvalue: originalOrder" [value]="genderType.key">
            {{ genderType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Seeking'| transloco}}" formControlName="seeking" multiple>
          <mat-option *ngFor="let genderType of genderTypes | keyvalue: originalOrder" [value]="genderType.key">
            {{ genderType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'BodyType'| transloco}}" formControlName="body">
          <mat-option *ngFor="let bodyType of bodyTypes | keyvalue: originalOrder" [value]="bodyType.key">
            {{ bodyType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'SmokingHabitsType'| transloco}}" formControlName="smokingHabits">
          <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes | keyvalue: originalOrder" [value]="smokingHabitsType.key">
            {{ smokingHabitsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'HasChildrenType'| transloco}}" formControlName="hasChildren">
          <mat-option *ngFor="let hasChildrenType of hasChildrenTypes | keyvalue: originalOrder" [value]="hasChildrenType.key">
            {{ hasChildrenType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'WantChildrenType'| transloco}}" formControlName="wantChildren">
          <mat-option *ngFor="let wantChildrenType of wantChildrenTypes | keyvalue: originalOrder" [value]="wantChildrenType.key">
            {{ wantChildrenType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'HasPetsType'| transloco}}" formControlName="hasPets">
          <mat-option *ngFor="let hasPetsType of hasPetsTypes | keyvalue: originalOrder" [value]="hasPetsType.key">
            {{ hasPetsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'LivesInType'| transloco}}" formControlName="livesIn">
          <mat-option *ngFor="let livesInType of livesInTypes | keyvalue: originalOrder" [value]="livesInType.key">
            {{ livesInType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'EducationType'| transloco}}" formControlName="education">
          <mat-option *ngFor="let educationType of educationTypes | keyvalue: originalOrder" [value]="educationType.key">
            {{ educationType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'EducationStatusType'| transloco}}" formControlName="educationStatus">
          <mat-option *ngFor="let educationStatusType of educationStatusTypes | keyvalue: originalOrder" [value]="educationStatusType.key">
            {{ educationStatusType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'EmploymentStatusType'| transloco}}" formControlName="employmentStatus">
          <mat-option *ngFor="let employmentStatusType of employmentStatusTypes | keyvalue: originalOrder" [value]="employmentStatusType.key">
            {{ employmentStatusType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'SportsActivityType'| transloco}}" formControlName="sportsActivity">
          <mat-option *ngFor="let sportsActivityType of sportsActivityTypes | keyvalue: originalOrder" [value]="sportsActivityType.key">
            {{ sportsActivityType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'EatingHabitsType'| transloco}}" formControlName="eatingHabits">
          <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes | keyvalue: originalOrder" [value]="eatingHabitsType.key">
            {{ eatingHabitsType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'ClotheStyleType'| transloco}}" formControlName="clotheStyle">
          <mat-option *ngFor="let clotheStyleType of clotheStyleTypes | keyvalue: originalOrder" [value]="clotheStyleType.key">
            {{ clotheStyleType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'BodyArtType'| transloco}}" formControlName="bodyArt">
          <mat-option *ngFor="let bodyArtType of bodyArtTypes | keyvalue: originalOrder" [value]="bodyArtType.key">
            {{ bodyArtType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="isChecked" [checked]="contactable" matTooltip="{{'ContactableText'| transloco}}" placeholder="{{'Contactable'| transloco}}" formControlName="contactable">{{'Contactable'| transloco}}</mat-slide-toggle>

    </div>

  </form>

</div>
