<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">

  <h4>Create your profile</h4>

  <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm">

    <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="newUserForm.pristine" mat-flat-button color="accent" matTooltip="Save">
        <i class="material-icons">save</i>
      </button>
      <button type="button" (click)="revert()"
              [disabled]="newUserForm.pristine" mat-flat-button color="accent" matTooltip="Revert">
        <i class="material-icons">undo</i>
      </button>
    </div>

    <div class="form-container">

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Age" formControlName="age">
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Height in cm" formControlName="height">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender" [(value)]="currentUser.gender">
          <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
            {{ genderType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sexual orientation" formControlName="sexualOrientation" [(value)]="currentUser.sexualOrientation">
          <mat-option *ngFor="let sexualOrientationType of sexualOrientationTypes" [value]="sexualOrientationType">
            {{ sexualOrientationType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Body type" formControlName="body" [(value)]="currentUser.body">
          <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
            {{ bodyType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Smoking habits" formControlName="smokingHabits" [(value)]="currentUser.smokingHabits">
          <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes" [value]="smokingHabitsType">
            {{ smokingHabitsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Has children" formControlName="hasChildren" [(value)]="currentUser.hasChildren">
          <mat-option *ngFor="let hasChildrenType of hasChildrenTypes" [value]="hasChildrenType">
            {{ hasChildrenType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Want children" formControlName="wantChildren" [(value)]="currentUser.wantChildren">
          <mat-option *ngFor="let wantChildrenType of wantChildrenTypes" [value]="wantChildrenType">
            {{ wantChildrenType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Has pets" formControlName="hasPets" [(value)]="currentUser.hasPets">
          <mat-option *ngFor="let hasPetsType of hasPetsTypes" [value]="hasPetsType">
            {{ hasPetsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Lives in" formControlName="livesIn" [(value)]="currentUser.livesIn">
          <mat-option *ngFor="let livesInType of livesInTypes" [value]="livesInType">
            {{ livesInType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Education" formControlName="education" [(value)]="currentUser.education">
          <mat-option *ngFor="let educationType of educationTypes" [value]="educationType">
            {{ educationType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Educational status" formControlName="educationStatus" [(value)]="currentUser.educationStatus">
          <mat-option *ngFor="let educationStatusType of educationStatusTypes" [value]="educationStatusType">
            {{ educationStatusType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Employment status" formControlName="employmentStatus" [(value)]="currentUser.employmentStatus">
          <mat-option *ngFor="let employmentStatusType of employmentStatusTypes" [value]="employmentStatusType">
            {{ employmentStatusType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sports activity" formControlName="sportsActivity" [(value)]="currentUser.sportsActivity">
          <mat-option *ngFor="let sportsActivityType of sportsActivityTypes" [value]="sportsActivityType">
            {{ sportsActivityType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Eating habits" formControlName="eatingHabits" [(value)]="currentUser.eatingHabits">
          <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes" [value]="eatingHabitsType">
            {{ eatingHabitsType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Fashion style" formControlName="clotheStyle" [(value)]="currentUser.clotheStyle">
          <mat-option *ngFor="let clotheStyleType of clotheStyleTypes" [value]="clotheStyleType">
            {{ clotheStyleType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Body art" formControlName="bodyArt" [(value)]="currentUser.bodyArt">
          <mat-option *ngFor="let bodyArtType of bodyArtTypes" [value]="bodyArtType">
            {{ bodyArtType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>

</div>
