<div *ngIf="auth.isAuthenticated()" class="grid grid-pad">
  <div *ngIf="currentUserSubject">
    <h2>{{currentUserSubject.name}} Update your details</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

      <div style="margin-bottom: 1em">
        <button type="submit" (click)="onSubmit()"
                [disabled]="profileForm.pristine" class="btn btn-success">
          Save
        </button> &nbsp;
        <button type="button" (click)="revert()"
                [disabled]="profileForm.pristine" class="btn btn-danger">
          Revert
        </button> &nbsp;
      </div>

      <div class="form-container">

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Created" formControlName="createdOn" [readonly]="isReadonly"> <!--{{currentUserSubject.createdOn | date:'medium'}}-->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Updated" formControlName="updatedOn" [readonly]="isReadonly">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Active" formControlName="lastActive" [readonly]="isReadonly">
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="Age" formControlName="age">
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="Height in cm" formControlName="height">
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="Weight in kg" formControlName="weight">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Gender" formControlName="genderType" [(value)]="currentUserSubject.gender">
            <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
              {{ genderType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="SexualOrientation" formControlName="sexualOrientationType" [(value)]="currentUserSubject.sexualOrientation">
            <mat-option *ngFor="let sexualOrientationType of sexualOrientationTypes" [value]="sexualOrientationType">
              {{ sexualOrientationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Body type" formControlName="bodyType" [(value)]="currentUserSubject.body">
            <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
              {{ bodyType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="SmokingHabits type" formControlName="smokingHabitsType" [(value)]="currentUserSubject.smokingHabits">
            <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes" [value]="smokingHabitsType">
              {{ smokingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="HasChildren type" formControlName="hasChildrenType" [(value)]="currentUserSubject.hasChildren">
            <mat-option *ngFor="let hasChildrenType of hasChildrenTypes" [value]="hasChildrenType">
              {{ hasChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="WantChildren type" formControlName="wantChildrenType" [(value)]="currentUserSubject.wantChildren">
            <mat-option *ngFor="let wantChildrenType of wantChildrenTypes" [value]="wantChildrenType">
              {{ wantChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="HasPets type" formControlName="hasPetsType" [(value)]="currentUserSubject.hasPets">
            <mat-option *ngFor="let hasPetsType of hasPetsTypes" [value]="hasPetsType">
              {{ hasPetsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Lives in" formControlName="livesInType" [(value)]="currentUserSubject.livesIn">
            <mat-option *ngFor="let livesInType of livesInTypes" [value]="livesInType">
              {{ livesInType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Education type" formControlName="educationType" [(value)]="currentUserSubject.education">
            <mat-option *ngFor="let educationType of educationTypes" [value]="educationType">
              {{ educationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="EducationStatus type" formControlName="educationStatusType" [(value)]="currentUserSubject.educationStatus">
            <mat-option *ngFor="let educationStatusType of educationStatusTypes" [value]="educationStatusType">
              {{ educationStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="EducationLevel type" formControlName="educationLevelType" [(value)]="currentUserSubject.educationLevel">
            <mat-option *ngFor="let educationLevelType of educationLevelTypes" [value]="educationLevelType">
              {{ educationLevelType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="EmploymentStatus type" formControlName="employmentStatusType" [(value)]="currentUserSubject.employmentStatus">
            <mat-option *ngFor="let employmentStatusType of employmentStatusTypes" [value]="employmentStatusType">
              {{ employmentStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="SportsActivity type" formControlName="sportsActivityType" [(value)]="currentUserSubject.sportsActivity">
            <mat-option *ngFor="let sportsActivityType of sportsActivityTypes" [value]="sportsActivityType">
              {{ sportsActivityType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="EatingHabits type" formControlName="eatingHabitsType" [(value)]="currentUserSubject.eatingHabits">
            <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes" [value]="eatingHabitsType">
              {{ eatingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="ClotheStyle type" formControlName="clotheStyleType" [(value)]="currentUserSubject.clotheStyle">
            <mat-option *ngFor="let clotheStyleType of clotheStyleTypes" [value]="clotheStyleType">
              {{ clotheStyleType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="BodyArt type" formControlName="bodyArtType" [(value)]="currentUserSubject.bodyArt">
            <mat-option *ngFor="let bodyArtType of bodyArtTypes" [value]="bodyArtType">
              {{ bodyArtType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </form>

    <button mat-raised-button (click)="openDeleteCurrentUserDialog()">Delete profile</button>

  </div>

</div>
