<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div *ngIf="currentUserSubject">
    <h4>{{'EditProfileComponent.UpdateDetails'| transloco}}</h4>

    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

      <div style="margin-bottom: 1em">
        <button type="submit"
                [disabled]="profileForm.pristine" mat-flat-button color="accent" matTooltip="{{'EditProfileComponent.Save'| transloco}}">
          <i class="material-icons">save</i>
        </button>
        <button type="button" (click)="revert()"
                [disabled]="profileForm.pristine" mat-flat-button color="accent" matTooltip="{{'EditProfileComponent.Reset'| transloco}}">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div class="form-container">

        <mat-form-field class="tag-list">
          <mat-chip-list #chipList formControlName="tags">
            <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(tag)">
              {{tag}}
              <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
            </mat-chip>
            <input matInput placeholder="{{tagsPlaceholder}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'EditProfileComponent.Name'| transloco}}" formControlName="name" [readonly]="true">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="{{'EditProfileComponent.Description'| transloco}}" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'EditProfileComponent.CreatedOn'| transloco}}" formControlName="createdOn" [readonly]="true"> <!--{{currentUserSubject.createdOn | translocoDate: { dateStyle: 'medium', timeStyle: 'medium'}}}-->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'EditProfileComponent.UpdatedOn'| transloco}}" formControlName="updatedOn" [readonly]="true">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'EditProfileComponent.LastActive'| transloco}}" formControlName="lastActive" [readonly]="true">
        </mat-form-field>

        <mat-label>{{'EditProfileComponent.Age'| transloco}}</mat-label>
        <mat-slider min={{defaultAge}} max="120" step="1" [value]="age" thumbLabel formControlName="age" class="cdk-focused">
        </mat-slider>

        <mat-label>{{'EditProfileComponent.Height'| transloco}}</mat-label>
        <mat-slider min="1" max="250" step="1" [value]="height" thumbLabel formControlName="height" class="cdk-focused">
        </mat-slider>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.Gender'| transloco}}" formControlName="gender" [(value)]="currentUserSubject.gender">
            <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
              {{ genderType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.SexualOrientationType'| transloco}}" formControlName="sexualOrientation" [(value)]="currentUserSubject.sexualOrientation">
            <mat-option *ngFor="let sexualOrientationType of sexualOrientationTypes" [value]="sexualOrientationType">
              {{ sexualOrientationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.BodyType'| transloco}}" formControlName="body" [(value)]="currentUserSubject.body">
            <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
              {{ bodyType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.SmokingHabitsType'| transloco}}" formControlName="smokingHabits" [(value)]="currentUserSubject.smokingHabits">
            <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes" [value]="smokingHabitsType">
              {{ smokingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.HasChildrenType'| transloco}}" formControlName="hasChildren" [(value)]="currentUserSubject.hasChildren">
            <mat-option *ngFor="let hasChildrenType of hasChildrenTypes" [value]="hasChildrenType">
              {{ hasChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.WantChildrenType'| transloco}}" formControlName="wantChildren" [(value)]="currentUserSubject.wantChildren">
            <mat-option *ngFor="let wantChildrenType of wantChildrenTypes" [value]="wantChildrenType">
              {{ wantChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.HasPetsType'| transloco}}" formControlName="hasPets" [(value)]="currentUserSubject.hasPets">
            <mat-option *ngFor="let hasPetsType of hasPetsTypes" [value]="hasPetsType">
              {{ hasPetsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.LivesInType'| transloco}}" formControlName="livesIn" [(value)]="currentUserSubject.livesIn">
            <mat-option *ngFor="let livesInType of livesInTypes" [value]="livesInType">
              {{ livesInType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.EducationType'| transloco}}" formControlName="education" [(value)]="currentUserSubject.education">
            <mat-option *ngFor="let educationType of educationTypes" [value]="educationType">
              {{ educationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.EducationStatusType'| transloco}}" formControlName="educationStatus" [(value)]="currentUserSubject.educationStatus">
            <mat-option *ngFor="let educationStatusType of educationStatusTypes" [value]="educationStatusType">
              {{ educationStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.EmploymentStatusType'| transloco}}" formControlName="employmentStatus" [(value)]="currentUserSubject.employmentStatus">
            <mat-option *ngFor="let employmentStatusType of employmentStatusTypes" [value]="employmentStatusType">
              {{ employmentStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.SportsActivityType'| transloco}}" formControlName="sportsActivity" [(value)]="currentUserSubject.sportsActivity">
            <mat-option *ngFor="let sportsActivityType of sportsActivityTypes" [value]="sportsActivityType">
              {{ sportsActivityType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.EatingHabitsType'| transloco}}" formControlName="eatingHabits" [(value)]="currentUserSubject.eatingHabits">
            <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes" [value]="eatingHabitsType">
              {{ eatingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.ClotheStyleType'| transloco}}" formControlName="clotheStyle" [(value)]="currentUserSubject.clotheStyle">
            <mat-option *ngFor="let clotheStyleType of clotheStyleTypes" [value]="clotheStyleType">
              {{ clotheStyleType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{'EditProfileComponent.BodyArtType'| transloco}}" formControlName="bodyArt" [(value)]="currentUserSubject.bodyArt">
            <mat-option *ngFor="let bodyArtType of bodyArtTypes" [value]="bodyArtType">
              {{ bodyArtType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="isChecked" [checked]="contactable" matTooltip="{{'EditProfileComponent.ContactableText'| transloco}}" placeholder="{{'EditProfileComponent.Contactable'| transloco}}" formControlName="contactable">{{'EditProfileComponent.Contactable'| transloco}}</mat-slide-toggle>

      </div>

    </form>

    <hr class="solid">

    <button type="button" (click)="openDeleteCurrentUserDialog()" mat-flat-button color="accent" matTooltip="{{'EditProfileComponent.DeleteProfile'| transloco}}">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>
