<div class="grid grid-pad">

  <div class="spinner-overlay" *ngIf="loading">
    <div class="spinner-container">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>

  <div *ngIf="currentUserSubject">
    <h4>Update your details</h4>

    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

      <div style="margin-bottom: 1em">
        <button type="submit"
                [disabled]="profileForm.pristine" mat-flat-button color="accent" i18n-matTooltip="Save | Save @@save" matTooltip="Save">
          <i class="material-icons">save</i>
        </button>
        <button type="button" (click)="revert()"
                [disabled]="profileForm.pristine" mat-flat-button color="accent" i18n-matTooltip="Revert | Revert @@revert" matTooltip="Revert">
          <i class="material-icons">undo</i>
        </button>
      </div>

      <div class="form-container">

        <mat-form-field class="tag-list">
          <mat-chip-list #chipList formControlName="tags">
            <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(tag)">
              {{tag}}
              <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
            </mat-chip>
            <input matInput placeholder="{{tagsPlaceholder}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field>
          <input matInput i18n-placeholder="Profile Name | A Name for the Profile @@profileName" placeholder="Name" formControlName="name" [readonly]="true">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput i18n-placeholder="Profile Description | A Description for the Profile @@profileDescription" placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput i18n-placeholder="Profile CreatedOn | A CreatedOn for the Profile @@profileCreatedOn" placeholder="Created" formControlName="createdOn" [readonly]="true"> <!--{{currentUserSubject.createdOn | date:'medium'}}-->
        </mat-form-field>

        <mat-form-field>
          <input matInput i18n-placeholder="Profile UpdatedOn | A UpdatedOn for the Profile @@profileUpdatedOn" placeholder="Updated" formControlName="updatedOn" [readonly]="true">
        </mat-form-field>

        <mat-form-field>
          <input matInput i18n-placeholder="Profile LastActive | A Last Active for the Profile @@profileLastActive" placeholder="Last Active" formControlName="lastActive" [readonly]="true">
        </mat-form-field>

        <mat-label i18n="Profile Age | A Age for the Profile @@profileAge">Age</mat-label>
        <mat-slider min={{defaultAge}} max="120" step="1" [value]="age" thumbLabel formControlName="age" class="cdk-focused">
        </mat-slider>

        <mat-label i18n="Profile Height | A Height for the Profile @@profileHeight">Height in cm</mat-label>
        <mat-slider min="1" max="250" step="1" [value]="height" thumbLabel formControlName="height" class="cdk-focused">
        </mat-slider>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile Gender | A Gender for the Profile @@profileGender" placeholder="Gender" formControlName="gender" [(value)]="currentUserSubject.gender">
            <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
              {{ genderType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile SexualOrientation | A SexualOrientation for the Profile @@profileSexualOrientation" placeholder="Sexual orientation" formControlName="sexualOrientation" [(value)]="currentUserSubject.sexualOrientation">
            <mat-option *ngFor="let sexualOrientationType of sexualOrientationTypes" [value]="sexualOrientationType">
              {{ sexualOrientationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile BodyType | A BodyType for the Profile @@profileBodyType" placeholder="Body type" formControlName="body" [(value)]="currentUserSubject.body">
            <mat-option *ngFor="let bodyType of bodyTypes" [value]="bodyType">
              {{ bodyType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile SmokingHabitsType | A SmokingHabitsType for the Profile @@profileSmokingHabitsType" placeholder="Smoking habits" formControlName="smokingHabits" [(value)]="currentUserSubject.smokingHabits">
            <mat-option *ngFor="let smokingHabitsType of smokingHabitsTypes" [value]="smokingHabitsType">
              {{ smokingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile HasChildrenType | A HasChildrenType for the Profile @@profileHasChildrenType" placeholder="Has children" formControlName="hasChildren" [(value)]="currentUserSubject.hasChildren">
            <mat-option *ngFor="let hasChildrenType of hasChildrenTypes" [value]="hasChildrenType">
              {{ hasChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile WantChildrenType | A WantChildrenType for the Profile @@profileWantChildrenType" placeholder="Want children" formControlName="wantChildren" [(value)]="currentUserSubject.wantChildren">
            <mat-option *ngFor="let wantChildrenType of wantChildrenTypes" [value]="wantChildrenType">
              {{ wantChildrenType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile HasPetsType | A HasPetsType for the Profile @@profileHasPetsType" placeholder="Has pets" formControlName="hasPets" [(value)]="currentUserSubject.hasPets">
            <mat-option *ngFor="let hasPetsType of hasPetsTypes" [value]="hasPetsType">
              {{ hasPetsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile LivesInType | A LivesInType for the Profile @@profileLivesInType" placeholder="Lives in" formControlName="livesIn" [(value)]="currentUserSubject.livesIn">
            <mat-option *ngFor="let livesInType of livesInTypes" [value]="livesInType">
              {{ livesInType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile EducationType | A EducationType for the Profile @@profileEducationType" placeholder="Education" formControlName="education" [(value)]="currentUserSubject.education">
            <mat-option *ngFor="let educationType of educationTypes" [value]="educationType">
              {{ educationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile EducationStatusType | A EducationStatusType for the Profile @@profileEducationStatusType" placeholder="Educational status" formControlName="educationStatus" [(value)]="currentUserSubject.educationStatus">
            <mat-option *ngFor="let educationStatusType of educationStatusTypes" [value]="educationStatusType">
              {{ educationStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile EmploymentStatusType | A EmploymentStatusType for the Profile @@profileEmploymentStatusType" placeholder="Employment status" formControlName="employmentStatus" [(value)]="currentUserSubject.employmentStatus">
            <mat-option *ngFor="let employmentStatusType of employmentStatusTypes" [value]="employmentStatusType">
              {{ employmentStatusType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile SportsActivityType | A SportsActivityType for the Profile @@profileSportsActivityType" placeholder="Sports activity" formControlName="sportsActivity" [(value)]="currentUserSubject.sportsActivity">
            <mat-option *ngFor="let sportsActivityType of sportsActivityTypes" [value]="sportsActivityType">
              {{ sportsActivityType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile EatingHabitsType | A EatingHabitsType for the Profile @@profileEatingHabitsType" placeholder="Eating habits" formControlName="eatingHabits" [(value)]="currentUserSubject.eatingHabits">
            <mat-option *ngFor="let eatingHabitsType of eatingHabitsTypes" [value]="eatingHabitsType">
              {{ eatingHabitsType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile ClotheStyleType | A ClotheStyleType for the Profile @@profileClotheStyleType" placeholder="Fashion style" formControlName="clotheStyle" [(value)]="currentUserSubject.clotheStyle">
            <mat-option *ngFor="let clotheStyleType of clotheStyleTypes" [value]="clotheStyleType">
              {{ clotheStyleType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select i18n-placeholder="Profile BodyArtType | A BodyArtType for the Profile @@profileBodyArtType" placeholder="Body art" formControlName="bodyArt" [(value)]="currentUserSubject.bodyArt">
            <mat-option *ngFor="let bodyArtType of bodyArtTypes" [value]="bodyArtType">
              {{ bodyArtType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="isChecked" [checked]="contactable" i18n-placeholder="Profile contactable | Is Profile contactable @@iscontactable" matTooltip="Are you contactable by other profiles?" placeholder="Contactable" formControlName="contactable">{{isChecked ? 'Contactable' : 'Not Contactable'}}</mat-slide-toggle>

      </div>

    </form>

    <hr class="solid">

    <button type="button" (click)="openDeleteCurrentUserDialog()" mat-flat-button color="accent" i18n-matTooltip="Delete profile | Delete profile @@deleteProfile" matTooltip="Delete profile">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>
